<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        tr{
            text-align: center;
        }
        .margin-10 {
            margin-top: 10px
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>쿠폰 관리</h3>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-info" id="new-coupon">쿠폰 추가하기</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="coupon-table">
                <thead>
                    <tr>
                        <th style="width: 5%;">번호</th>
                        <th style="width: 10%">쿠폰이름</th>
                        <th style="width: 10%">할인가격(원)</th>
                        <th style="width: 5%">사용여부</th>
                        <th style="width: 10%">시작일</th>
                        <th style="width: 10%">종료일</th>
                        <th style="width: 5%">사용자지급</th>
                        <th style="width: 5%">요청승인</th>
                        <th style="width: 10%">수정/삭제</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:if="${coupons.size() == 0}">
                    <tr>
                        <td colspan="9">쿠폰 정보가 비어있습니다.</td>
                    </tr>
                </th:block>
                <th:block th:unless="${coupons.size() == 0}">
                    <th:block  th:each="coupon, couponStat : ${coupons}">
                        <tr>
                            <td th:text="${couponStat.index + 1}" style="width: 5%"></td>
                            <td th:text="${coupon.getCouponName()}" style="width: 10%"></td>
                            <td th:text="${#numbers.formatInteger(coupon.getCouponRate(), 0, 'COMMA')}" style="width: 10%"></td>
                            <td th:text="${(coupon.getUseAt() == 'Y') ? '사용' : '미사용'}" style="width: 5%"></td>
                            <td th:text="${coupon.getStartDate()}" style="width: 10%"></td>
                            <td th:text="${coupon.getEndDate()}" style="width: 10%"></td>
                            <td style="width: 5%;">
                                <button type="button" class="btn btn-sm btn-outline-info give-coupon-user" th:value="${coupon.getCouponId()}">지급하기</button>
                            </td>
                            <td style="width: 5%;">
                                <button type="button" class="btn btn-sm btn-outline-success approve-request-user" th:value="${coupon.getCouponId()}">승인하기</button>
                            </td>
                            <td style="width: 10%">
                                <button type="button" class="btn btn-sm btn-outline-secondary coupon-update-btn" th:value="${coupon.getCouponId()}">수정</button>
                                <button type="button" class="btn btn-sm btn-outline-danger coupon-delete-btn" th:disabled="${!coupon.isUserIsEmpty()}" th:value="${coupon.getCouponId()}">삭제</button>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>

        <!-- s: newCouponForm -->
        <form id="new-coupon-form" class="needs-validation" novalidate>
            <div class="modal" id="new-coupon-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">쿠폰 등록하기</h4>
                            <button type="button" class="btn-close" id="close-new-coupon-modal-btn"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="new-couponName">쿠폰 이름<span class="text-primary ms-50">*</span></label>
                                        <input type="text" id="new-couponName" class="form-control" name="couponName" required/>
                                        <div class="invalid-feedback">쿠폰 이름을 입력하세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <label class="form-label" for="new-couponRate">할인 가격<span class="text-primary ms-50">*</span></label>
                                    <div class="input-group input-group-merge">
                                        <input type="number" class="form-control numeral-mask" id="new-couponRate" name="couponRate" required>
                                        <span class="input-group-text select-none">원</span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label>사용여부</label>
                                        <div class="input-group">
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="new-useAt-Y" name="useAt" value="Y" checked>
                                                <label class="form-check-label" for="new-useAt-Y">Y</label>
                                            </div>
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="new-useAt-N" name="useAt" value="N">
                                                <label class="form-check-label" for="new-useAt-N">N</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="new-startDate">시작일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="new-startDate" class="form-control" name="startDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 시작일을 입력해주세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="new-endDate">종료일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="new-endDate" class="form-control" name="endDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 종료일을 입력해주세요.</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" id="cancel-new-coupon-btn">취소</button>
                            <button type="submit" class="btn btn-outline-primary" id="save-new-coupon-btn">저장</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- e: newPostTypeForm -->

        <!-- s: updateCouponForm -->
        <form id="update-coupon-form" class="needs-validation" novalidate>
            <div class="modal" id="update-coupon-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">쿠폰 수정하기</h4>
                            <button type="button" class="btn-close" id="close-update-coupon-modal-btn"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="update-couponName">쿠폰 이름<span class="text-primary ms-50">*</span></label>
                                        <input type="text" id="update-couponName" class="form-control" name="couponName" required/>
                                        <div class="invalid-feedback">쿠폰 이름을 입력하세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <label class="form-label" for="update-couponRate">할인 가격<span class="text-primary ms-50">*</span></label>
                                    <div class="input-group input-group-merge">
                                        <input type="number" class="form-control numeral-mask" id="update-couponRate" name="couponRate" required>
                                        <span class="input-group-text select-none">원</span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label>사용여부</label>
                                        <div class="input-group">
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="update-useAt-Y" name="useAt" value="Y">
                                                <label class="form-check-label" for="new-useAt-Y">Y</label>
                                            </div>
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="update-useAt-N" name="useAt" value="N">
                                                <label class="form-check-label" for="new-useAt-N">N</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="update-startDate">시작일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="update-startDate" class="form-control" name="startDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 시작일을 입력해주세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="update-endDate">종료일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="update-endDate" class="form-control" name="endDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 종료일을 입력해주세요.</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" id="cancel-update-coupon-btn">취소</button>
                            <button type="submit" class="btn btn-outline-primary" id="update-coupon-btn">저장</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- e: newPostTypeForm -->

        <!-- s: chooseUserModal -->
        <div class="modal modal-lg" id="choose-user-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">쿠폰등록할 사용자 찾기</h4>
                        <button type="button" class="btn-close" id="close-choose-user-modal-btn" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-hover table-bordered" id="choose-user-table">
                            <thead>
                                <tr>
                                    <th style="width: 5%;"></th>
                                    <th style="width: 10%;">사용자Id</th>
                                    <th style="width: 10%">사용자이름</th>
                                </tr>
                            </thead>
                            <tbody id="choose-user-tbody">
                                <th:block th:if="${userList.size() == 0}">
                                    <tr>
                                        <td colspan="3">사용정보가 없습니다.</td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${userList.size() == 0}">
                                    <th:block th:each="user, userStat : ${userList}">
                                        <tr class="clickable-row">
                                            <td style="width: 5%">
                                                <div class="form-check" style="text-align: center; display: inline-block;">
                                                    <input class="form-check-input user-chk" type="checkbox" th:value="${user.id}" th:id="|checkbox-${user.id}|">
                                                    <label class="form-check-label" th:for="|checkbox-${user.id}|"></label>
                                                </div>
                                            </td>
                                            <td th:text="${user.userId}" style="width: 10%"></td>
                                            <td th:text="${user.userName}" style="width: 10%"></td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="cancel-choose-user-btn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-info" id="give-coupon-btn">쿠폰발급</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- e: chooseUserModal -->

        <!-- s: requestUserModal -->
        <div class="modal modal-lg" id="request-user-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">쿠폰 요청 사용자 승인하기</h4>
                        <button type="button" class="btn-close" id="close-request-user-modal-btn" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-hover table-bordered" id="request-user-table">
                            <thead>
                            <tr>
                                <th style="width: 5%;"></th>
                                <th style="width: 10%;">사용자Id</th>
                                <th style="width: 10%">사용자이름</th>
                            </tr>
                            </thead>
                            <tbody id="request-user-tbody"></tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="cancel-request-user-btn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-info" id="request-coupon-btn">승인</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- e: requestUserModal -->


    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">

       const coupons = /*[[${coupons}]]*/ [];
       let hongCouponId = null                  // 쿠폰 정보 수정을 위한 쿠폰 id
       let chooseCouponId = null                // 쿠폰 사용자 지급을 위한 쿠폰 id
       let requestCouponId = null               // 쿠폰 요청 승인을 위한 쿠폰 id

       $(document).ready(function() {
           /* 사용자 쿠폰 발급 유저 테이블 -> row 클릭시, 해당 체크박스 클릭 */
           $('.clickable-row').click(function(event) {
               if (event.target.type !== 'checkbox') {
                   const checkbox = $(this).find('.user-chk');
                   checkbox.prop('checked', !checkbox.prop('checked'));
               }
           });
       })

       /* 새로운 쿠폰 등록하기 */
       $("#new-coupon").on('click', function(e){
         $("#new-coupon-modal").modal('show')
       })

       /* 지급하기 버튼 클릭 이벤트 */
       $(".give-coupon-user").on('click', function(e){
           chooseCouponId = $(this).val()
           $("#choose-user-modal").modal('show')
       })

       /* 쿠폰 요청 승인하기 버튼 클릭 이벤트 */
       $(".approve-request-user").on('click', function(e) {
           const couponId = $(this).val()
           requestCouponId = couponId
           Http.get(`/api/coupon-request-by/${couponId}`).then((res) => {
               if(res['httpStatus'] === 200) {
                   drawRequestTable(res.message)           // 쿠폰 요청 승인 테이블 만들기
                   $("#request-user-modal").modal('show')
               }
           })
       })

       /* 요청 승인 모달 테이블 만들기 */
       function drawRequestTable(value){
           const dom = $("#request-user-tbody")
           dom.empty()

           if(value.length !== 0) {
               value.forEach((data, i) => {
                   const body = `<tr class="clickable-row-request">
                                <td style="width: 5%">
                                    <div class="form-check" style="text-align: center; display: inline-block;">
                                        <input class="form-check-input user-request-chk" type="checkbox" value="${data['hongCouponRequestId']}" data-user="${data['userLongId']}" id="chbox-${data['hongCouponRequestId']}">
                                        <label class="form-check-label" for="chbox-${data['hongCouponRequestId']}"></label>
                                    </div>
                                </td>
                                <td style="width: 10%">${data['userId']}</td>
                                <td style="width: 10%">${data['userName']}</td>
                            </tr>`

                   const row = $(body)

                   row.click(function (event) {                                     // row 클릭 시, 해당 체크박스 클릭 이벤트
                       if (event.target.type !== 'checkbox') {
                           const checkbox = row.find('.user-request-chk');
                           checkbox.prop('checked', !checkbox.prop('checked'));
                       }
                   });

                   dom.append(row)
               })
           }else {
               const body = `<tr>
                                <td colspan="3">사용자의 요청정보가 없습니다.</td>
                            </tr>`
               dom.append(body)
           }
       }

       /* 요청승인 모달 테이블 -> 승인 버튼 클릭 이벤트  */
       $("#request-coupon-btn").on('click', function(e){
           const checked = $('.user-request-chk:checked')
           const lst = checked.map(function(){              // 요청 id
               return $(this).val()
           }).get();

           const user = checked.map(function(){             // 요청한 사용자 id
               return $(this).data('user')
           }).get();

           if(lst.length === 0) Util.alert('승인할 사용자 요청을 선택하세요.', 'w', 'w')
           else {
               const obj = {'couponId': requestCouponId, 'requestId': lst, 'userId': user}
               Http.put(`/api/coupon-request-approve`, obj).then((res) => {
                   if (res['httpStatus'] === 200) {
                       Util.alert(`${res.message}명의 요청을 승인했습니다.`).then(() => {
                           window.location.href = '/manager/coupon'
                       })
                   } else {
                       Util.alert(`죄송합니다. 요청 승인에 실패했습니다.`, 'w', 'w')
                   }
               })
           }
       })

       /* 사용자 쿠폰 발급 모달 창 -> 쿠폰발급 버튼 클릭 이벤트 */
       $("#give-coupon-btn").on('click', function(e) {
           const checked = $('.user-chk:checked')
           let lst = checked.map(function(){
               return $(this).val()
           }).get();

           if(lst.length === 0) Util.alert('쿠폰을 발급할 사용자를 선택하세요.', 'w', 'w')
           else {
               const obj = {'couponId': chooseCouponId, 'userId': lst}      // 체크된 사용자들에게 쿠폰 발급
               Http.post(`/api/coupon-has-user`, obj).then((res) => {
                   if (res['httpStatus'] === 200) {
                       Util.alert(`총 ${res.message}명에게 ${chooseCouponId}번 쿠폰이 지급되었습니다.`).then(() => {
                           window.location.href = '/manager/coupon'
                       })
                   } else {
                       Util.alert(`죄송합니다. 쿠폰 발급에 실패했습니다.`, 'w', 'w')
                   }
               })
           }
       })

       /* 쿠폰 삭제하기 */
       $(".coupon-delete-btn").on('click', function(e) {
           const couponId = $(this).val()

           Util.confirm('해당 쿠폰을 삭제하시겠습니까?').then((isOk) => {
               if(isOk) {
                   Http.delete(`/api/coupon/${couponId}`).then((res) => {
                       if(res['httpStatus'] === 200) {
                           Util.alert(`${res.message}`).then(() => {
                               window.location.href = `/manager/coupon`
                           })
                       }else {
                           Util.alert("삭제에 실패했습니다.", 'w', 'w')
                       }
                   })
               }
           })
       })

       /* 쿠폰 수정하기 버튼 클릭 이벤트 */
       $(".coupon-update-btn").on('click', function(e){
           const couponId = $(this).val()

           Http.get(`/api/coupon/${couponId}`).then((res) => {
               if(res['httpStatus'] === 200) {
                   hongCouponId= res.message['couponId']
                   $("#update-couponName").val(res.message['couponName'])
                   $("#update-couponRate").val(res.message['couponRate'])
                   $(`#update-useAt-${res.message['useAt']}`).prop('checked', true)
                   $("#update-startDate").val(res.message['startDate'])
                   $("#update-endDate").val(res.message['endDate'])
                   $("#update-coupon-modal").modal('show')              // 쿠폰 수정 모달 띄우기
               }
           })
       })

       /* 쿠폰 등록하기 모달 닫기 이벤트 */
       $("#cancel-new-coupon-btn, #close-new-coupon-modal-btn").on("click", function(e) {
           Util.confirm("작성중인 쿠폰은 저장되지 않습니다. <br/> 쿠폰작성을 취소하시겠습니까?").then((isOk) => {
               if(isOk) {
                   $("#new-couponName").val('')
                   $("#new-couponRate").val('')
                   $("#new-startDate").val('')
                   $("#new-endDate").val('')

                   const form = document.getElementById("new-coupon-form")
                   form.classList.remove("was-validated")      // validation 지우기
                   $("#new-coupon-modal").modal('hide')
               }
           })
       })

        /* 쿠폰 수정하기 모달 닫기 이벤트 */
       $("#cancel-update-coupon-btn, #close-update-coupon-modal-btn").on("click", function(e){
           Util.confirm(`수정중이던 쿠폰은 저장되지 않습니다. <br/> 쿠폰수정을 취소하시겠습니까?`).then((isOk) => {
               if(isOk) {
                   $("#update-couponName").val('')
                   $("#update-couponRate").val('')
                   $("#update-startDate").val('')
                   $("#update-endDate").val('')

                   const form = document.getElementById("update-coupon-form")
                   form.classList.remove("was-validated")      // validation 지우기
                   $("#update-coupon-modal").modal('hide')
               }
           })
       })

       /* 쿠폰 등록하기 */
       window.addEventListener("load", function(event) {
           event.preventDefault();
           const form = document.getElementById("new-coupon-form");

           form.addEventListener("submit", function(event) {
               if(form.checkValidity() === false) {
                   event.preventDefault();
                   form.classList.add("was-validated")
               }else{
                   event.preventDefault();
                   FormDataToObj.getParameter("new-coupon-form").then(obj => {
                       const start = new Date(obj['startDate'])
                       const end = new Date(obj['endDate'])

                       if(start > end) Util.alert("쿠폰 사용 종료일이 시작일보다 먼저 올수는 없습니다.", 'w', 'w')       // 쿠폰 사용 시작일보다 종료일이 앞서는 경우, 막기
                       else {
                           Http.post(`/api/coupon`, obj).then((res) => {
                               if (res['httpStatus'] === 200) {
                                   Util.alert(`쿠폰이 추가되었습니다.`).then(() => {
                                       window.location.href = '/manager/coupon'
                                   })
                               } else {
                                   Util.alert(`쿠폰 등록에 실패했습니다.`, 'w', 'w')
                               }
                           })
                       }
                   })
               }
           });
       });

       /* 쿠폰 수정하기 */
       window.addEventListener("load", function(event) {
           event.preventDefault();
           const form = document.getElementById("update-coupon-form");

           form.addEventListener("submit", function(event) {
               if(form.checkValidity() === false) {
                   event.preventDefault();
                   form.classList.add("was-validated")
               }else{
                   event.preventDefault();
                   FormDataToObj.getParameter("update-coupon-form").then(obj => {
                       const start = new Date(obj['startDate'])
                       const end = new Date(obj['endDate'])

                       if(start > end) Util.alert("쿠폰 사용 종료일이 시작일보다 먼저 올수는 없습니다.", 'w', 'w')  // 쿠폰 사용 시작일보다 종료일이 앞서는 경우, 막기
                       else {
                           Http.put(`/api/coupon/${hongCouponId}`, obj).then((res) => {
                               if (res['httpStatus'] === 200) {
                                   Util.alert("쿠폰 정보를 변경하였습니다.").then(() => {
                                       window.location.href = `/manager/coupon`
                                   })
                               } else {
                                   Util.alert("쿠폰 변경에 실패했습니다.", 'w', 'w')
                               }
                           })
                       }
                   })
               }
           });
       });

    </script>
</th:block>

</html>