<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>쿠폰 사용 기록</h3>
                </div>
                <div class="text-end"></div>
            </div>
        </div>
        <div class="card-body">
            <div id="coupon-hist-table"></div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        let table = new Table("coupon-hist-table")
        $(document).ready(function(e) {
            table
                .get('/api/coupon-hist-user')
                .add(new Column("index").title("#").width("5%").center())
                .add(new Column("couponName").title("쿠폰 이름").width("10%").left())
                .add(new Column("couponRate").title("쿠폰 가격").width("10%").left().formatter(function(cell) {
                    const cellData = cell.getValue()
                    return `${Util.priceString(cellData)} 원`
                }))
                .add(new Column("histUserVOList").title("사용 사용자 개수").width("10%").left().formatter(function(cell) {
                    const cellData = cell.getValue()
                    return `${cellData.length} 개`
                }))
                .rowFormatter(function(row) {
                    const rowData = row.getData()
                    const histUserList = rowData['histUserVOList']

                    const holderEl = document.createElement("div")
                    const tableEl = document.createElement("div")

                    holderEl.style.boxSizing = "border-box";
                    holderEl.style.padding = "10px 30px 10px 10px";
                    holderEl.style.borderTop = "1px #333";
                    holderEl.style.borderBotom = "1px #333";
                    tableEl.style.border = "1px solid #333";

                    holderEl.appendChild(tableEl);

                    row.getElement().appendChild(holderEl);

                    const subTable = new Table(tableEl)
                        .subTable()
                        .setData(histUserList)
                        .add(new Column("userId").title("사용자").left().width("20%"))
                        .add(new Column("useDate").title("사용날짜").left().width("20%").formatter(function(cell) {
                            const data = cell.getValue()
                            return `${data.toString().substring(0, 10)}`
                        }))
                        .init()
                })
                .init()
        })

    </script>
</th:block>

</html>