<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        tr{
            text-align: center;
        }
        .margin-10 {
            margin-top: 10px
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>쿠폰 관리</h3>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-info" id="new-coupon">쿠폰 추가하기</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="coupon-table">
                <thead>
                    <tr>
                        <th style="width: 5%;">번호</th>
                        <th style="width: 10%">쿠폰이름</th>
                        <th style="width: 10%">할인가격(원)</th>
                        <th style="width: 5%">사용여부</th>
                        <th style="width: 10%">시작일</th>
                        <th style="width: 10%">종료일</th>
                        <th style="width: 5%">사용자지급</th>
                        <th style="width: 5%">요청승인</th>
                        <th style="width: 10%">수정/삭제</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:if="${coupons.size() == 0}">
                    <tr>
                        <td colspan="9">쿠폰 정보가 비어있습니다.</td>
                    </tr>
                </th:block>
                <th:block th:unless="${coupons.size() == 0}">
                    <th:block  th:each="coupon, couponStat : ${coupons}">
                        <tr>
                            <td th:text="${couponStat.index + 1}" style="width: 5%"></td>
                            <td th:text="${coupon.getCouponName()}" style="width: 10%"></td>
                            <td th:text="${#numbers.formatInteger(coupon.getCouponRate(), 0, 'COMMA')}" style="width: 10%"></td>
                            <td th:text="${(coupon.getUseAt() == 'Y') ? '사용' : '미사용'}" style="width: 5%"></td>
                            <td th:text="${coupon.getStartDate()}" style="width: 10%"></td>
                            <td th:text="${coupon.getEndDate()}" style="width: 10%"></td>
                            <td style="width: 5%;">
                                <button type="button" class="btn btn-sm btn-outline-info give-coupon-user" th:value="${coupon.getCouponId()}">지급하기</button>
                            </td>
                            <td style="width: 5%;">
                                <button type="button" class="btn btn-sm btn-outline-success approve-request-user" th:value="${coupon.getCouponId()}">승인하기</button>
                            </td>
                            <td style="width: 10%">
                                <button type="button" class="btn btn-sm btn-outline-secondary coupon-update-btn" th:value="${coupon.getCouponId()}">수정</button>
                                <button type="button" class="btn btn-sm btn-outline-danger coupon-delete-btn" th:disabled="${!coupon.isUserIsEmpty()}" th:value="${coupon.getCouponId()}">삭제</button>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>

        <!-- s: newCouponForm -->
        <form id="new-coupon-form" class="needs-validation" novalidate>
            <div class="modal" id="new-coupon-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">쿠폰 등록하기</h4>
                            <button type="button" class="btn-close" id="close-new-coupon-modal-btn"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="new-couponName">쿠폰 이름<span class="text-primary ms-50">*</span></label>
                                        <input type="text" id="new-couponName" class="form-control" name="couponName" required/>
                                        <div class="invalid-feedback">쿠폰 이름을 입력하세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <label class="form-label" for="new-couponRate">할인 가격<span class="text-primary ms-50">*</span></label>
                                    <div class="input-group input-group-merge">
                                        <input type="number" class="form-control numeral-mask" id="new-couponRate" name="couponRate" required>
                                        <span class="input-group-text select-none">원</span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label>사용여부</label>
                                        <div class="input-group">
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="new-useAt-Y" name="useAt" value="Y" checked>
                                                <label class="form-check-label" for="new-useAt-Y">Y</label>
                                            </div>
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="new-useAt-N" name="useAt" value="N">
                                                <label class="form-check-label" for="new-useAt-N">N</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="new-startDate">시작일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="new-startDate" class="form-control" name="startDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 시작일을 입력해주세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="new-endDate">종료일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="new-endDate" class="form-control" name="endDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 종료일을 입력해주세요.</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" id="cancel-new-coupon-btn">취소</button>
                            <button type="submit" class="btn btn-outline-primary" id="save-new-coupon-btn">저장</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- e: newPostTypeForm -->

        <!-- s: updateCouponForm -->
        <form id="update-coupon-form" class="needs-validation" novalidate>
            <div class="modal" id="update-coupon-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">쿠폰 수정하기</h4>
                            <button type="button" class="btn-close" id="close-update-coupon-modal-btn"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="update-couponName">쿠폰 이름<span class="text-primary ms-50">*</span></label>
                                        <input type="text" id="update-couponName" class="form-control" name="couponName" required/>
                                        <div class="invalid-feedback">쿠폰 이름을 입력하세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <label class="form-label" for="update-couponRate">할인 가격<span class="text-primary ms-50">*</span></label>
                                    <div class="input-group input-group-merge">
                                        <input type="number" class="form-control numeral-mask" id="update-couponRate" name="couponRate" required>
                                        <span class="input-group-text select-none">원</span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label>사용여부</label>
                                        <div class="input-group">
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="update-useAt-Y" name="useAt" value="Y">
                                                <label class="form-check-label" for="new-useAt-Y">Y</label>
                                            </div>
                                            <div class="form-check" style="margin-right: 20px;">
                                                <input type="radio" class="form-check-input" id="update-useAt-N" name="useAt" value="N">
                                                <label class="form-check-label" for="new-useAt-N">N</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="update-startDate">시작일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="update-startDate" class="form-control" name="startDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 시작일을 입력해주세요.</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="mb-1 margin-10">
                                        <label class="form-label" for="update-endDate">종료일<span class="text-primary ms-50">*</span></label>
                                        <input type="date" id="update-endDate" class="form-control" name="endDate" required/>
                                        <div class="invalid-feedback">쿠폰 사용 종료일을 입력해주세요.</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" id="cancel-update-coupon-btn">취소</button>
                            <button type="submit" class="btn btn-outline-primary" id="update-coupon-btn">저장</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- e: newPostTypeForm -->

        <!-- s: chooseUserModal -->
        <div class="modal modal-lg" id="choose-user-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">쿠폰등록할 사용자 찾기</h4>
                        <button type="button" class="btn-close" id="close-choose-user-modal-btn" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-hover table-bordered" id="choose-user-table">
                            <thead>
                                <tr>
                                    <th style="width: 5%;"></th>
                                    <th style="width: 10%;">사용자Id</th>
                                    <th style="width: 10%">사용자이름</th>
                                </tr>
                            </thead>
                            <tbody id="choose-user-tbody">
                                <th:block th:if="${userList.size() == 0}">
                                    <tr>
                                        <td colspan="3">사용정보가 없습니다.</td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${userList.size() == 0}">
                                    <th:block th:each="user, userStat : ${userList}">
                                        <tr class="clickable-row">
                                            <td style="width: 5%">
                                                <div class="form-check" style="text-align: center; display: inline-block;">
                                                    <input class="form-check-input user-chk" type="checkbox" th:value="${user.id}" th:id="|checkbox-${user.id}|">
                                                    <label class="form-check-label" th:for="|checkbox-${user.id}|"></label>
                                                </div>
                                            </td>
                                            <td th:text="${user.userId}" style="width: 10%"></td>
                                            <td th:text="${user.userName}" style="width: 10%"></td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="cancel-choose-user-btn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-info" id="give-coupon-btn">쿠폰발급</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- e: chooseUserModal -->

        <!-- s: requestUserModal -->
        <div class="modal modal-lg" id="request-user-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">쿠폰 요청 사용자 승인하기</h4>
                        <button type="button" class="btn-close" id="close-request-user-modal-btn" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-hover table-bordered" id="request-user-table">
                            <thead>
                            <tr>
                                <th style="width: 5%;"></th>
                                <th style="width: 10%;">사용자Id</th>
                                <th style="width: 10%">사용자이름</th>
                            </tr>
                            </thead>
                            <tbody id="request-user-tbody"></tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="cancel-request-user-btn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-info" id="request-coupon-btn">승인</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- e: requestUserModal -->


    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
       const coupons = /*[[${coupons}]]*/ [];
       let hongCouponId = null                  // 쿠폰 정보 수정을 위한 쿠폰 id
       let chooseCouponId = null                // 쿠폰 사용자 지급을 위한 쿠폰 id
       let requestCouponId = null               // 쿠폰 요청 승인을 위한 쿠폰 id
    </script>
    <script th:src="@{'/assets/js/page/manager/coupon.js'}"></script>
</th:block>

</html>