<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        tr{
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>배송 관리</h3>
                    <p style="color: red">* 리뷰가 작성된 주문건은 배송상태를 변경할 수 없습니다.</p>
                </div>
                <div class="text-end"></div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="cart-table">
                <thead>
                <tr>
                    <th style="width: 5%;" rowspan="2">번호</th>
                    <th style="width: 10%" rowspan="2">사용자ID</th>
                    <th style="width: 10%" rowspan="2">주문날짜</th>
                    <th style="width: 10%" rowspan="2">주문상태</th>
                    <th style="width: 10%" rowspan="2">배송상태</th>
                    <th style="width: 10%" COLSPAN="3">주소</th>
                    <th style="width: 10%" rowspan="2">배송상태 변경</th>
                </tr>
                <tr>
                    <th>시/도</th>
                    <th>시군구/읍면동</th>
                    <th>우편번호</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${delivers.size() == 0}">
                    <tr>
                        <td colspan="9">배송 정보가 비어있습니다.</td>
                    </tr>
                </th:block>
                <th:block th:unless="${delivers.size() == 0}">
                    <th:block  th:each="deliver, deliverStatus : ${delivers}">
                        <tr>
                            <td th:text="${deliverStatus.index + 1}" style="width: 5%"></td>
                            <td th:text="${deliver.orderUser}" style="width: 10%"></td>
                            <td style="width: 10%" th:text="${#strings.substring(deliver.orderDate, 0, 10)}"></td>
                            <td th:text="${deliver.orderStatus}" style="width: 10%"></td>
                            <td th:text="${deliver.deliverStatus}" style="width: 10%"></td>
                            <td th:text="${deliver.address.city}" style="width: 10%"></td>
                            <td th:text="${deliver.address.street}" style="width: 10%"></td>
                            <td th:text="${deliver.address.zipcode}" style="width: 10%"></td>
                            <td style="width: 10%">
                                <select th:id="|deliverStatus-${deliver.deliverId}|" class="form-select-sm deliverStatus-select" style="width: 150px" th:disabled="${deliver.writeReviewEmpty == false}" th:data-num="${deliver.deliverId}" th:data-status="${deliver.deliverStatus}">
                                    <option value="DELIVERING" th:selected="${deliver.deliverStatus eq 'DELIVERING'}">DELIVERING</option>
                                    <option value="DELIVERED" th:selected="${deliver.deliverStatus eq 'DELIVERED'}">DELIVERED</option>
                                    <option value="AWAIT" th:selected="${deliver.deliverStatus eq 'AWAIT'}">AWAIT</option>
                                    <option value="CANCEL" th:selected="${deliver.deliverStatus eq 'CANCEL'}">CANCEL</option>
                                </select>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        /* 배송 정보 바꾸기 이벤트 */
        $(".deliverStatus-select").on("change", function(e){
            const deliverId = $(this).attr("data-num")
            const deliverStatus = $(this).attr("data-status")
            const chanageDeliverStatus = $(this).val()

            const result = confirm(`해당 배송 정보를 바꾸시겠습니까?`)
            if(!result) $(`#deliverStatus-${deliverId}`).val(deliverStatus)
            else {
                const obj = {'status': chanageDeliverStatus}

                $.ajax({
                    type: 'PUT',
                    url: `/api/deliver-status/${deliverId}`,
                    dataType: 'json',
                    data: JSON.stringify(obj),
                    contentType: 'application/json',
                    success: function (data) {
                        if(data.httpStatus === 200) {
                            alert(data.message)
                            window.location.href='/manager/deliver'
                        }else {
                            alert("해당 배송 정보 변경에 실패하였습니다.")
                            $(`#deliverStatus-${deliverId}`).val(deliverStatus)
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error getting password:', error);
                    }
                });
            }
        })

    </script>
</th:block>

</html>