<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        tr{
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>사용자 주문 관리</h3>
                    <p style="color: red">* 리뷰가 작성된 주문건은 주문상태를 변경할 수 없습니다.</p>
                </div>
                <div class="text-end"></div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="order-table">
                <thead>
                    <tr>
                        <th style="width: 5%;">번호</th>
                        <th style="width: 10%">주문자</th>
                        <th style="width: 10%">주문상태</th>
                        <th style="width: 10%">주문날짜</th>
                        <th style="width: 20%">주문상품</th>
                        <th style="width: 10%">주문개수</th>
                        <th style="width: 20%">주문가격</th>
                        <th style="width: 10%">상태변경</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${orderList.size() == 0}">
                        <tr>
                            <td colspan="8">사용자 주문 정보가 비어있습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${orderList.size() == 0}">
                        <th:block  th:each="orders, orStat : ${orderList}">
                            <tr>
                                <td th:text="${orStat.index + 1}" th:rowspan="${orders.orderDetails.size()}" style="width: 5%"></td>
                                <td th:text="${orders.userId}" th:rowspan="${orders.orderDetails.size()}" style="width: 10%"></td>
                                <td th:text="${orders.orderStatus}" th:rowspan="${orders.orderDetails.size()}" style="width: 10%"></td>
                                <td th:text="${#strings.substring(orders.orderDate, 0, 10)}" th:rowspan="${orders.orderDetails.size()}" style="width: 10%"></td>
                                <td th:text="${orders.orderDetails.get(0).productName}" style="width: 20%"></td>
                                <td th:text="|${orders.orderDetails.get(0).orderCnt}개|" style="width: 10%"></td>
                                <td th:text="${#numbers.formatInteger(orders.orderDetails.get(0).orderPrice, 0, 'COMMA')}" style="width: 20%"></td>
                                <td th:rowspan="${orders.orderDetails.size()}" style="width: 10%">
                                    <select th:id="|orderStatus-${orders.orderId}|" class="form-select-sm orderStatus-select" style="width: 150px" th:data-num="${orders.orderId}" th:disabled="${orders.writeReviewEmpty == false}" th:data-status="${orders.orderStatus}">
                                        <option value="CHARGED" th:selected="${orders.orderStatus eq 'CHARGED'}">CHARGED</option>
                                        <option value="CANCEL" th:selected="${orders.orderStatus eq 'CANCEL'}">CANCEL</option>
                                        <option value="DELIVER_SUCCESS" th:selected="${orders.orderStatus eq 'DELIVER_SUCCESS'}">DELIVER_SUCCESS</option>
                                        <option value="DELIVER_ING" th:selected="${orders.orderStatus eq 'DELIVER_ING'}">DELIVER_ING</option>
                                    </select>
                                </td>
                            </tr>
                            <th:block th:if="${orders.orderDetails.size() > 1}">
                                <th:block th:each="detail, detailStat : ${orders.orderDetails}">
                                    <th:block th:if="${!detailStat.first}">
                                        <tr>
                                            <td th:text="${detail.productName}" style="width: 20%"></td>
                                            <td th:text="|${detail.orderCnt}개|" style="width: 10%"></td>
                                            <td th:text="${#numbers.formatInteger(detail.orderPrice, 0, 'COMMA')}" style="width: 20%"></td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        const order = /*[[${orderList}]]*/[];

        $(document).ready(function(e){
            $(".orderStatus-select").on("change", function(e){
                const orderId = $(this).attr("data-num")
                const orderStatus = $(this).attr("data-status")
                const chanageOrderStatus = $(this).val()

                const result = confirm("해당 상품의 주문상태값을 변경하시겠습니까?")
                if(!result) $(`#orderStatus-${orderId}`).val(orderStatus)
                else {
                    const obj = {'orderStatus': chanageOrderStatus}

                    $.ajax({
                        type: 'PUT',
                        url: `/api/order-status/${orderId}`,
                        dataType: 'json',
                        data: JSON.stringify(obj),
                        contentType: 'application/json',
                        success: function (data) {
                            if(data.httpStatus === 200) {
                                alert(data.message)
                                window.location.href='/manager/order'
                            }else {
                                alert("해당 상품의 주문 상태값 변경에 실패하였습니다.")
                                $(`#orderStatus-${orderId}`).val(orderStatus)
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error getting password:', error);
                        }
                    });
                }
            })
        })
    </script>
</th:block>

</html>