<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>사용자 주문 관리</h3>
                    <p style="color: red">* 리뷰가 작성된 주문건은 주문상태를 변경할 수 없습니다.</p>
                </div>
                <div class="text-end"></div>
            </div>
        </div>
        <div class="card-body">
            <div id="order-table"></div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        const order = /*[[${orderList}]]*/[];
        let table = new Table("order-table")

        $(document).ready(function(e){

            table
                .get('/api/order-with-reviewChk')
                .add(new Column("index").title("#").width("5%").center())
                .add(new Column("userId").title("주문자").width("20%").left())
                .add(new Column("orderStatus").title("주문상태").width("10%").left())
                .add(new Column("orderDate").title("주문날짜").width("10%").left())
                .add(new Column("orderDetails").title("주문상품 개수").width("20%").left().formatter(function(cell) {
                    const cellData = cell.getValue()
                    return `${cellData.length} 개`
                }))
                .add(new Column("orderId").title("상태변경").width("20%").center().formatter(function(cell) {
                    const rowData = cell.getData()
                    return `<select id="orderStatus-${rowData.orderId}" class="form-select-sm orderStatus-select" style="width: 150px" data-num="${rowData.orderId}" data-status="${rowData.orderStatus}" ${(rowData.writeReviewEmpty == false) ? 'disabled' : ''} onChange="changeSelect(this)">
                                <option value="CHARGED" ${(rowData.orderStatus == 'CHARGED') ? 'selected' : ''}>CHARGED</option>
                                <option value="CANCEL" ${(rowData.orderStatus == 'CANCEL') ? 'selected' : ''}>CANCEL</option>
                                <option value="DELIVER_SUCCESS" ${(rowData.orderStatus == 'DELIVER_SUCCESS') ? 'selected' : ''}>DELIVER_SUCCESS</option>
                                <option value="DELIVER_ING" ${(rowData.orderStatus == 'DELIVER_ING') ? 'selected' : ''}>DELIVER_ING</option>
                            </select>`
                }))
                .rowFormatter(function(row) {
                    const rowData = row.getData()
                    const orderDetails = rowData['orderDetails']

                    const holderEl = document.createElement("div")
                    const tableEl = document.createElement("div")

                    holderEl.style.boxSizing = "border-box";
                    holderEl.style.padding = "10px 30px 10px 10px";
                    holderEl.style.borderTop = "1px #333";
                    holderEl.style.borderBotom = "1px #333";
                    tableEl.style.border = "1px solid #333";

                    holderEl.appendChild(tableEl);

                    row.getElement().appendChild(holderEl);

                    new Table(tableEl)
                        .subTable()
                        .setData(orderDetails)
                        .add(new Column("productName").title("주문상품").left().width("20%"))
                        .add(new Column("orderCnt").title("주문개수").left().width("20%").formatter(function(cell) {
                            const data = cell.getValue()
                            return `${data} 개`
                        }))
                        .add(new Column("orderPrice").title("주문가격").left().width("20%").formatter(function(cell) {
                            const data = cell.getValue()
                            return `${Util.priceString(data)} 원`
                        }))
                        .init()
                })
                .init()
        })


        function changeSelect(selectElement) {
            const orderId = selectElement.getAttribute("data-num")
            const orderStatus = selectElement.getAttribute("data-status")
            const chanageOrderStatus = selectElement.options[selectElement.selectedIndex].value

            Util.confirm("해당 상품의 주문상태값을 변경하시겠습니까?").then((isOk) => {
                if(!isOk) $(`#orderStatus-${orderId}`).val(orderStatus)
                else {
                    const obj = {'orderStatus': chanageOrderStatus}
                    Http.put(`/api/order-status/${orderId}`, obj).then((res) => {
                        if(res['httpStatus'] === 200) {
                            Util.alert(res.message).then(() => {
                                window.location.href='/manager/order'
                            })
                        }else {
                            Util.alert("해당 상품의 주문 상태값 변경에 실패하였습니다.").then(() => {
                                $(`#orderStatus-${orderId}`).val(orderStatus)
                            })
                        }
                    })
                }
            })
        }
    </script>
</th:block>

</html>