/* 상품 보기 page -> 상품 모달 -> 상품 컨테이너 */
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 상품 보기 page -> 상품 모달 -> 상품 이미지 */
.product-image {
    max-width: 100%;
    height: auto;
}

/* 상품 보기 page -> 상품 모달 -> 상품 이름 */
.product-name {
    margin: 10px 0;
    font-weight: bold;
}

/* 상품 보기 page -> 상품 모달 -> 상품 가격 */
.product-price {
    font-weight: bold;
}

/* 상품 보기 page -> 상품 모달 -> 상품 재고 */
.product-stock {
    color: green;
    font-weight: bold;
}



/* 상품 보기 page -> 이미지 그리드 (1줄 6개) */
.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 10px;
    justify-content: center;
    align-content: center;
}

/* 상품 보기 page -> 이미지 & 상품이름 & 가격 그리드 */
.image-item {
    position: relative;
    text-align: center;
}

/* 상품 보기 page -> 상품 이미지 */
.image-item img {
    width: 100%;
}

/* 상품 보기 page -> 상품 이름 & 가격 그리드 */
.product-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

/* 상품 보기 page -> 상품 이름, 가격 */
.image-name {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* 장바구니 page -> checkbox div */
.top-checkbox {
    position: relative;
    margin-left: 10px;
}

/* 장바구니 page -> checkbox */
.image-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 5px;
    transform: scale(2);
}

/* 장바구니 page -> 장바구니 상품 개수 변경 모달 버튼 */
.image-item .chng-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    border: 2px solid black;
    border-radius: 20px;
    color: black;
}

/* 장바구니 page -> 장바구니 상품 개수 변경 모달 버튼 hover */
.image-item .chng-cart:hover{
    background: black;
    color: white;
}

/* 장바구니 page -> 현재 장바구니 상품 재고 개수 */
.cart-cnt {
    color: black;
    font-weight: bold;
}