<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <style>
        .ck-editor__editable { height: 300px; }
        .ck-content { font-size: 14px; }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3 th:text="|${type.postName}|"></h3>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-info" id="list-btn">목록</button>
                    <button th:if="${post.regId == user.id}" type="button" class="btn btn-outline-secondary" id="edit-btn">수정</button>
                    <button th:if="${post.regId == user.id}" type="button" class="btn btn-outline-danger" id="delete-btn">삭제</button>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${post.title}"  disabled/>
            </div>

            <hr class="hr" />

            <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                <label for="content">내용</label>
                <div id="content" name="content" class="ckeditor" style="min-height: 300px"></div>
            </div>

            <hr class="hr" />

            <div class="mb-3 mt-3">
                <label for="file-container">파일첨부</label>
                <div class="file-container" id="file-container">
                    <ul id="download-container"></ul>
                </div>
            </div>

        </div>

        <div class="card-body" id="answer-body">
            <hr class="hr" />

            <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                <div class="card-text d-flex justify-content-between">
                    <div class="text-start">
                        <h5>답변</h5>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-primary" id="show-modalAnswer">답변 작성하기</button>
                    </div>
                </div>

                <th:block th:if="${#lists.size(answers) == 0}">
                    <div class="text-center" style="margin-top: 10px"> <h6>답변이 없습니다.</h6> </div>
                </th:block>
                <th:block th:unless="${#lists.size(answers) == 0}">
                    <th:block th:each="answer, answerSata : ${answers}">
                        <div class="card" style="margin-top: 10px">
                            <div class="card-text d-flex justify-content-between" style="background-color: #c4c8cb">
                                <div class="text-start">
                                    <p th:text="|답변 작성자: ${answer.userId}|"></p>
                                </div>
                                <div class="text-end">
                                    <th:block th:if="${user.userId == answer.userId}">
                                        <a href="#" th:onclick="'deleteAnswer(\'' + ${answer.id} + '\')'">
                                            <i data-feather="trash" class="front-medium-2"></i>
                                        </a>
                                        <a href="#" th:onclick="'editAnswer(\'' + ${answer.id} + '\')'">
                                            <i data-feather="edit" class="front-medium-2"></i>
                                        </a>
                                    </th:block>
                                </div>
                            </div>
                            <textarea th:utext="${answer.content}" style="height: 100px" readonly />
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>

    <!-- s: saveAnswerModal -->
    <div class="modal" id="saveAnswerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">답변 작성하기</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label for="save-answer">답변내용</label>
                    <textarea class="form-control" id="save-answer" name="answer" style="margin-top: 10px; height: 100px;"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-outline-primary" id="save-answer-btn">저장</button>
                </div>

            </div>
        </div>
    </div>
    <!-- e: saveAnswerModal -->

    <!-- s: editAnswerModal -->
    <div class="modal" id="editAnswerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">답변 수정하기</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label for="save-answer">답변내용</label>
                    <textarea class="form-control" id="edit-answer" name="answer" style="margin-top: 10px; height: 100px;"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-outline-primary" id="edit-answer-btn">수정</button>
                </div>

            </div>
        </div>
    </div>
    <!-- e: editAnswerModal -->

</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        let answerId = null;
        let ckEditor;
        const post = /*[[${post}]]*/ {}
        const user = /*[[${user}]]*/ {}
    </script>
    <script th:src="@{'/assets/js/page/bbs/free/bbs.free.view.js'}"></script>
</th:block>

</html>