<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
</th:block>

<th:block layout:fragment="content">
    <div class="container-sm mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3 th:text="|${type.postName}|"></h3>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-info" id="new-bbsctt">글작성하기</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered" id="qna-table">
                <thead>
                    <tr style="text-align: center;">
                        <th style="width: 5%" class="text-center"></th>
                        <th style="width: 10%;" class="text-center">번호</th>
                        <th style="width: 30%">제목</th>
                        <th style="width: 10%" class="text-center">첨부파일</th>
                        <th style="width: 10%" class="text-center">조회수</th>
                        <th style="width: 10%" class="text-center">답변여부</th>
                    </tr>
                </thead>
                <tbody id="qna-tbody"></tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
<script th:inline="javascript">
    console.log("script...")

    const type = /*[[${type}]]*/ []
    const user = /*[[${user}]]*/ {};
    console.log("user ", user)

    window.onload = () => {
        getList()
    };

    const getList = () => {
        $.ajax({
            type: 'GET',
            url: `/api/postsWithFileByPostType/${type['postTypeId']}`,
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if(data.httpStatus === 200) setList(data);
            },
            error: function (xhr, status, error) {
                console.error('Error getting password:', error);
            }
        });
    }

    const setList = (data) => {

        const dom = $("#qna-tbody")
        dom.empty();

        const list = data.message;
        if(list.length > 0) {
            list.forEach((value, i) => {
                const fileCnt = (value.file === null) ? 0 : value.file.fileList.length
                const locked = (value.regId == user['id']) ? '<i data-feather="unlock" class="front-medium-2"></i>' : '<i data-feather="lock" class="front-medium-2"></i>'

                const body =
                    `
                    <tr data-num="${value.regId}" data-value="${value.id}">
                        <td style="width: 5%" class="text-center">
                            ${locked}
                        </td>
                        <td style="width: 10%;" class="text-center">${i + 1}</td>
                        <td style="width: 30%">${value.title}</td>
                        <td style="width: 10%" class="text-center">${fileCnt}</td>
                        <td style="width: 10%" class="text-center">${value.readCnt}</td>
                        <td style="width: 10%" class="text-center">${value.answerList.length}</td>
                    </tr>
                    `

                dom.append(body)
                feather.replace()
            })
            $("tr").on("click", handleRowClick);

        }else {
            const body = `<tr style="text-align: center;">
                                <td colspan="6">게시글이 비어있습니다.</td>
                          </tr>`
            dom.append(body)
        }

    }

    function handleRowClick(e) {
        const clickedRow = $(e.target).closest('tr')
        const regId = clickedRow.attr("data-num");
        const postId = clickedRow.attr("data-value");
        console.log("clickedRow" , clickedRow)
        console.log( "regId => ", regId);
        console.log( "postId => ", postId);

        if(user['role'] == 'ROLE_USER' && regId != user['id']) alert("본인이 작성한 게시글에 대해서만 볼 수 있습니다.")
        else window.location.href = `/bbs/view/${postId}`
    }

    $("#new-bbsctt").on("click", function(e) {
        window.location.href = `/bbs/save/${type['postTypeId']}`
    })

</script>
</th:block>

</html>