<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, tr, td {
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3 th:text="|${type.postName}|"></h3>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-info" id="new-bbsctt">글작성하기</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="qna-table"></div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
<script th:inline="javascript">

    const type = /*[[${type}]]*/ []
    const user = /*[[${user}]]*/ {}
    const id = /*[[${id}]]*/ null
    const table = new Table("qna-table")

    $(document).ready(function() {
        table
            .get(`/api/postsWithFileByPostType/${id}`)
            .add(new Column("regId").title("").width("5%").center().formatter(function(cell) {
                const cellData = cell.getValue()
                const classNm = (cellData == user.id) ? 'front-medium-2' : 'front-medium-2 lock'
                const feathers = (cellData == user.id) ? 'unlock' : 'lock'
                return `<i class="${classNm}" data-feather=${feathers} />`
            }))
            .add(new Column("index").title("#").width("10%").center())
            .add(new Column("title").title("제목").width("30%").left())
            .add(new Column("readCnt").title("조회수").width("20%").center())
            .add(new Column("file").title("첨부파일").width("20%").center().formatter(function(cell) {
                const cellData = cell.getValue()
                return (cellData === null) ? '0 개' : `${cellData['fileList'].length} 개`
            }))
            .add(new Column("answerList").title("답변").width("10%").formatter(function(cell){
                const cellData = cell.getValue()
                return `${cellData.length} 개`
            }))
            .init()

        table.rowClick((data, row) => {
            if(user['role'] == 'ROLE_USER' && data['regId'] != user['id']) Util.alert("본인이 작성한 게시글에 대해서만 볼 수 있습니다.", 'w', 'w')
            else window.location.href = `/bbs/view/${data['id']}`
        })

        table.afterComplete(() => {
            feather.replace()
        })
    })

    $("#new-bbsctt").on("click", function(e) {
        window.location.href = `/bbs/save/${type['postTypeId']}`
    })

</script>
</th:block>

</html>