<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        tr{
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>나의 쿠폰</h3>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-info" id="request-coupon">쿠폰 요청하기</button>
                    <button type="button" class="btn btn-outline-info" id="request-coupon-lst">요청된 쿠폰보기</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="coupon-table">
                <thead>
                    <tr>
                        <th style="width: 5%;">번호</th>
                        <th style="width: 10%">쿠폰이름</th>
                        <th style="width: 10%">할인가격(원)</th>
                        <th style="width: 5%">사용여부</th>
                        <th style="width: 10%">시작일</th>
                        <th style="width: 10%">종료일</th>
                        <th style="width: 5%">삭제</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:if="${couponLst.size() == 0}">
                    <tr>
                        <td colspan="7">쿠폰 정보가 비어있습니다.</td>
                    </tr>
                </th:block>
                <th:block th:unless="${couponLst.size() == 0}">
                    <th:block  th:each="coupon, couponStat : ${couponLst}">
                        <tr>
                            <td th:text="${couponStat.index + 1}" style="width: 5%"></td>
                            <td th:text="${coupon.hongCouponVO.couponName}" style="width: 10%"></td>
                            <td th:text="${#numbers.formatInteger(coupon.hongCouponVO.couponRate, 0, 'COMMA')}" style="width: 10%"></td>
                            <td th:text="${(coupon.useAt == 'Y') ? '사용' : '미사용'}" style="width: 5%"></td>
                            <td th:text="${#strings.substring(coupon.hongCouponVO.startDate, 0, 10)}" style="width: 10%"></td>
                            <td th:text="${#strings.substring(coupon.hongCouponVO.startDate, 0, 10)}" style="width: 10%"></td>
                            <td style="width: 5%">
                                <button type="button" class="btn btn-sm btn-outline-danger coupon-delete-btn" th:data-delete="${coupon.useAt}" th:value="${coupon.hongCouponHasId}">삭제</button>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>

        <!-- s: chooseCouponModal -->
        <div class="modal modal-lg" id="choose-coupon-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">쿠폰 요청하기</h4>
                        <button type="button" class="btn-close" id="close-request-user-modal-btn" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-hover table-bordered" id="request-user-table">
                            <thead>
                            <tr>
                                <th style="width: 5%;"></th>
                                <th style="width: 10%;">쿠폰이름</th>
                                <th style="width: 10%">쿠폰 <br/> 할인가격</th>
                                <th style="width: 10%">시작일</th>
                                <th style="width: 10%">종료일</th>
                            </tr>
                            </thead>
                            <tbody id="request-user-tbody">
                                <th:block th:if="${couponForRequest.size() == 0}">
                                    <tr>
                                        <td colspan="5">요청가능한 쿠폰이 없습니다.</td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${couponForRequest.size() == 0}">
                                    <th:block th:each="coupon , couponStat : ${couponForRequest}">
                                        <tr class="clickable-row">
                                            <td style="width: 5%">
                                                <div class="form-check" style="text-align: center; display: inline-block;">
                                                    <input class="form-check-input request-chk" type="checkbox" th:value="${coupon.couponId}" th:id="|checkbox-${coupon.couponId}|">
                                                    <label class="form-check-label" th:for="|checkbox-${coupon.couponId}|"></label>
                                                </div>
                                            </td>
                                            <td th:text="${coupon.couponName}" style="width: 10%"></td>
                                            <td th:text="${#numbers.formatInteger(coupon.couponRate, 0, 'COMMA')}" style="width: 10%"></td>
                                            <td th:text="${#strings.substring(coupon.startDate, 0, 10)}" style="width: 10%"></td>
                                            <td th:text="${#strings.substring(coupon.endDate, 0, 10)}" style="width: 10%"></td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="cancel-choose-coupon-btn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-info" id="choose-coupon-btn">요청하기</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- e: chooseCouponModal -->

        <!-- s: getRequestCouponModal -->
        <div class="modal modal-lg" id="get-request-coupon-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">내가 요청한 쿠폰들</h4>
                        <button type="button" class="btn-close" id="close-get-request-coupon-modal-btn" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-hover table-bordered" id="get-request-coupon-table">
                            <thead>
                                <tr>
                                    <th style="width: 5%;"></th>
                                    <th style="width: 10%;">쿠폰이름</th>
                                    <th style="width: 10%;">할인가격</th>
                                    <th style="width: 10%">시작일</th>
                                    <th style="width: 10%">종료일</th>
                                </tr>
                            </thead>
                            <tbody id="get-request-coupon-tbody">
                            <th:block th:if="${userRequestNotApproved.size() == 0}">
                                <tr>
                                    <td colspan="5">요청한 쿠폰이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${userRequestNotApproved.size() == 0}">
                                <th:block th:each="userRequest, userRequestStat : ${userRequestNotApproved}">
                                    <tr class="clickable-del-row">
                                        <td style="width: 5%">
                                            <div class="form-check" style="text-align: center; display: inline-block;">
                                                <input class="form-check-input request-del-chk" type="checkbox" th:value="${userRequest.hongCouponRequestId}" th:id="|checkbox-${userRequest.hongCouponRequestId}|">
                                                <label class="form-check-label" th:for="|checkbox-${userRequest.hongCouponRequestId}|"></label>
                                            </div>
                                        </td>
                                        <td style="width: 10%" th:text="${userRequest.couponName}"></td>
                                        <td style="width: 10%" th:text="${#numbers.formatInteger(userRequest.couponRate, 0, 'COMMA')}"></td>
                                        <td style="width: 10%" th:text="${#strings.substring(userRequest.startDate, 0, 10)}"></td>
                                        <td style="width: 10%" th:text="${#strings.substring(userRequest.endDate, 0, 10)}"></td>
                                    </tr>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="cancel-get-request-coupon-btn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-secondary" id="delete-request-coupon-btn">삭제하기</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- e: getRequestCouponModal -->

    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function() {
            /* 쿠폰 요청을 위한 모달 테이블 -> row 클릭시, 해당 체크박스 클릭 */
            $('.clickable-row').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    const checkbox = $(this).find('.request-chk');
                    checkbox.prop('checked', !checkbox.prop('checked'));
                }
            });

            /* 내가 요청한 쿠폰 리스트 보는 테이블 -> row 클릭시, 해당 체크박스 클릭 */
            $('.clickable-del-row').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    const checkbox = $(this).find('.request-del-chk');
                    checkbox.prop('checked', !checkbox.prop('checked'));
                }
            });
        })

        /* 자신이 요청한 쿠폰 리스트 조회 */
        $("#request-coupon-lst").on('click', function(e){
            $("#get-request-coupon-modal").modal('show')
        })

        /* 쿠폰 요청하기 버튼 클릭 이벤트 */
        $("#request-coupon").on('click', function(e) {
            $("#choose-coupon-modal").modal('show')
        })

        /* 쿠폰 요청하기 (쿠폰 요청 모달에서) 버튼 클릭 이벤트 */
        $("#choose-coupon-btn").on('click', function(e) {
            const checked = $('.request-chk:checked')
            const lst = checked.map(function(){              // 요청 id
                return $(this).val()
            }).get();

            if(lst.length === 0) Util.alert('요청할 쿠폰을 선택해주세요.', 'w', 'w')
            else {
                const obj = {'couponId': lst}
                $.ajax({
                    type: 'POST',
                    url: `/api/coupon-request-all`,             // 리스트로된 쿠폰에 대해 모두 요청한다.
                    dataType: 'json',
                    data: JSON.stringify(obj),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.httpStatus === 200) {
                            Util.alert(`총 ${data.message}개의 쿠폰이 요청되었습니다.`).then(() => {
                                window.location.href = '/user/coupon'
                            })
                        } else {
                            Util.alert("쿠폰 요청에 실패했습니다.", 'w', 'w')
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error getting password:', error);
                    }
                });
            }
        })

        /* 내가 요청한 쿠폰 리스트 모달 테이블 -> 클릭된 row들 삭제 : 내가 요청한 쿠폰들이 승인되기 전에 삭제하는 부분 */
        $("#delete-request-coupon-btn").on('click', function(e) {
            const checked = $('.request-del-chk:checked')
            const lst = checked.map(function(){              // 요청 id
                return $(this).val()
            }).get();

            if(lst.length === 0) Util.alert('삭제할 요청을 선택해주세요.', 'w', 'w')
            else {
                const queryString = '?ids=' + lst.join('&ids=');
                $.ajax({
                    type: 'DELETE',
                    url: `/api/coupon-delete-several${queryString}`,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.httpStatus === 200) {
                            Util.alert(`총 ${data.message}개를 삭제했습니다.`).then(() => {
                                window.location.href = `/user/coupon`
                            })
                        } else {
                            Util.alert("쿠폰 요청 삭제에 실패했습니다.", 'w', 'w')
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error getting password:', error);
                    }
                });
            }
        })

        /* 쿠폰 삭제 : 내가 요청한 쿠폰들이 승인이 된 뒤에 삭제하는 부분 */
        $(".coupon-delete-btn").on("click", function(){
            const couponHasId = $(this).val()
            const useAt = $(this).attr('data-delete')

            const msg = (useAt === 'N') ? '해당 쿠폰은 아직 사용 전입니다. <br/> 해당 쿠폰을 삭제하시겠습니까?' : '해당 쿠폰을 삭제하시겠습니까?'
            Util.confirm(`${msg}`).then((isOk) => {
                if(isOk) {
                    $.ajax({
                        type: 'DELETE',
                        url: `/api/coupon-has/${couponHasId}`,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if(data.httpStatus === 200) {
                                Util.alert(`${data.message}`).then(() => {
                                    window.location.href = `/user/coupon`
                                })
                            }else {
                                Util.alert("해당 쿠폰 삭제에 실패했습니다.", 'w', 'w')
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error getting password:', error);
                        }
                    });
                }
            })
        })
    </script>
</th:block>

</html>