<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
            <div class="card-body" style="width: 50%;">
            <form id="update-form" class="needs-validation" novalidate>
                <input type="hidden" name="userId" th:value="${user.userId}" />
                <div class="mb-3 mt-3">
                    <label for="userId">아이디</label>
                    <input type="text" class="form-control" id="userId" name="userId" th:value="${user.userId}" disabled/>
                </div>

                <div class="mb-3 mt-3">
                    <label for="newPassword">비밀번호</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="newPassword" name="password" disabled required/>
                        <button class="btn btn-outline-dark" type="button" id="change-pwd" th:disabled="${user.hongSocialUserId != 0}">비밀번호 변경</button>
                        <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                    </div>
                    <th:block th:if="${user.hongSocialUserId != 0}">
                        <p class="error-message" style="color: red">소셜 로그인의 경우 비밀번호 변경이 불가능합니다.</p>
                    </th:block>
                </div>

                <div class="mb-3 mt-3">
                    <label for="newPassword">비밀번호 확인</label>
                    <input type="password" class="form-control" id="newPasswordChk" disabled/>
                    <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                </div>

                <div class="mb-3 mt-3">
                    <label for="userName">이름</label>
                    <input type="text" class="form-control" id="userName" name="userName" th:value="${user.userName}" th:disabled="${user.hongSocialUserId != 0}" required/>
                    <th:block th:if="${user.hongSocialUserId != 0}">
                        <p class="error-message" style="color: red">소셜 로그인의 경우 이름 변경이 불가능합니다.</p>
                    </th:block>
                    <div class="invalid-feedback">이름을 입력하세요.</div>
                </div>

                <div class="mb-3 mt-3">
                    <label for="userEmail">이메일</label>
                    <div class="input-group">
                        <input type="hidden" id="originUserEmail" th:value="${user.userEmail}" />
                        <input type="email" class="form-control" id="userEmail" name="userEmail" th:value="${user.userEmail}" disabled required/>
                        <button class="btn btn-outline-dark" type="button" id="check-Email" th:disabled="${user.hongSocialUserId != 0}">이메일 변경</button>
                        <div class="invalid-feedback">이메일을 입력하세요.</div>
                    </div>
                    <th:block th:if="${user.hongSocialUserId != 0}">
                        <p class="error-message" style="color: red">소셜 로그인의 경우 이메일 변경이 불가능합니다.</p>
                    </th:block>
                    <p class="error-message" id="EmailChkMessage"></p>
                </div>

                <div class="mb-3 mt-3">
                    <label>유저 권한</label>
                    <div class="input-group">
                        <div class="form-check" style="margin-right: 20px;">
                            <input type="radio" class="form-check-input" id="ROLE_ADMIN" name="role" value="ROLE_ADMIN" th:checked="${user.role == 'ROLE_ADMIN'}" disabled>
                            <label class="form-check-label" for="ROLE_ADMIN">admin</label>
                        </div>
                        <div class="form-check" style="margin-right: 20px;">
                            <input type="radio" class="form-check-input" id="ROLE_USER" name="role" value="ROLE_USER" th:checked="${user.role == 'ROLE_USER'}" disabled>
                            <label class="form-check-label" for="ROLE_USER">user</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="ROLE_SUPER" name="role" value="ROLE_SUPER" th:checked="${user.role == 'ROLE_SUPER'}" disabled>
                            <label class="form-check-label" for="ROLE_SUPER">SUPER</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label>주소</label>
                    <div class="col-sm">
                       <input type="text" class="form-control mb-1" name="city" placeholder="city" th:value="${user.city}" required>
                        <div class="invalid-feedback">지역을 입력하세요.</div>
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control mb-1" name="street" placeholder="street" th:value="${user.street}" required>
                        <div class="invalid-feedback">거리를 입력하세요.</div>
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control mb-1" name="zipcode" placeholder="zipcode" th:value="${user.zipcode}" required>
                        <div class="invalid-feedback">우편번호를 입력하세요.</div>
                    </div>
                </div>
                <th:block th:if="${user.hongSocialUserId != 0 and (#strings.length(user.city) == 0 or #strings.length(user.street) == 0 or #strings.length(user.zipcode) == 0)}">
                    <p class="error-message" style="color: red">소셜 로그인의 경우 주소정보를 추가로 입력해주세요.</p>
                </th:block>

                <div style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" id="update-info">수정</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/'">뒤로가기</button>
                </div>
            </form>
        </div>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        const user = /*[[${user}]]*/ null;
        let changePwd = false
        let changeEmail = false
        let emailChk = true
        const newPassword = $("#newPassword")
        const newPasswordChk = $("#newPasswordChk")

        $(document).ready(function() {
            if(user.city.length == 0 || user.street.length == 0 || user.zipcode.length == 0) alert("주소 정보를 입력해주세요.")

            newPassword.on('input', chckValidate)
            newPasswordChk.on('input', chckValidate)
        })

        function chckValidate(){
            const passwordVal = newPassword.val()
            const passwordChkVal = newPasswordChk.val()

            if(passwordVal && passwordChkVal) {
                if(passwordVal === passwordChkVal) newPasswordChk.removeClass('is-invalid')
                else newPasswordChk.addClass('is-invalid')
            }
        }

        /* 이메일 중복 확인 */
        $("#check-Email").on("click", function(e){
            e.preventDefault();

            if(!changeEmail) {

                changeEmail = true
                emailChk = false
                $("#userEmail").prop('disabled', false)
                $("#check-Email").text("중복확인")

            }else if(changeEmail) {
                const userEmail = $("#userEmail").val()
                const originUserEmail = $("#originUserEmail").val()

                if(userEmail === originUserEmail) {
                    const result = confirm('기존 이메일과 동일합니다. 그대로 사용하시겠습니까?')
                    if (result)  {
                        $("#EmailChkMessage").html('')
                        $("#userEmail").prop('disabled', true)
                        $("#check-Email").prop('disabled', true)
                        emailChk = true
                    }
                }else {
                    // check duplicate email
                    $.ajax({
                        type: 'GET',
                        url: `/front/api/checkEmail?userEmail=${userEmail}`,
                        dataType: 'json',
                        success: function (data) {
                            if (!data.message) $("#EmailChkMessage").css('color', 'red').html("중복되는 이메일입니다.")
                            else {
                                $("#EmailChkMessage").css('color', 'green').html("사용 가능한 이메일입니다.")
                                $("#userEmail").prop('disabled', true)
                                $("#check-Email").prop('disabled', true)
                                emailChk = true
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error getting password:', error);
                        }
                    });
                }
            }
        })



        $("#change-pwd").on("click", function(e) {
            e.preventDefault();
            changePwd = true
            $("#newPassword").prop("disabled", false);
            $("#newPasswordChk").prop("disabled", false);
        })

        window.addEventListener("load", function(event) {
            event.preventDefault();
            const form = document.getElementById("update-form");

            form.addEventListener("submit", function(event) {
                if(form.checkValidity() === false) {
                    event.preventDefault();
                    form.classList.add("was-validated")
                }else{
                    event.preventDefault();
                    const pwd = newPassword.val()
                    const pwdChk = newPasswordChk.val()

                    if(changePwd &&(pwd.length === 0 || pwd !== pwdChk)) alert("입력하신 비밀번호가 다릅니다.")
                    else if(changeEmail && !emailChk) alert("이메일 중복을 확인해주세요.")
                    else {
                        FormDataToObj.getParameter("update-form").then(obj => {
                            if(changeEmail) obj['userEmail'] = $("#userEmail").val()
                            $.ajax({
                              type: 'PUT',
                              url: `/api/user`,
                              dataType: 'json',
                              data: JSON.stringify(obj),
                              contentType: 'application/json',
                              success: function (data) {
                                  if(data.httpStatus === 200) {
                                      alert("회원정보를 수정하였습니다.")
                                      window.location.href='/'
                                  }else {
                                      alert("회원정보 수정을 실패했습니다.")
                                  }
                              },
                              error: function (xhr, status, error) {
                                console.error('Error getting password:', error);
                              }
                            });
                        })
                    }
                }
            });
        });
    </script>
</th:block>

</html>