<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }

        tr {
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>주문 및 배송정보</h3>
                </div>
                <div class="text-end"></div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="cart-table">
                <thead>
                    <tr>
                        <th style="width: 5%" rowspan="2">번호</th>
                        <th style="width: 5%" rowspan="2">주문상태</th>
                        <th style="width: 10%" rowspan="2">주문날짜</th>
                        <th style="width: 10%" COLSPAN="3">주문상세정보</th>
                        <th style="width: 5%" rowspan="2">쿠폰 <br/> 사용여부</th>
                        <th style="width: 10%" rowspan="2">전체 가격</th>
                        <th style="width: 1%" rowspan="2"></th>
                        <th style="width: 5%" rowspan="2">배송상태</th>
                        <th style="width: 10%" COLSPAN="3">주소</th>
                        <th style="width: 5%" rowspan="2">배송지 <br/> 변경하기</th>
                    </tr>
                    <tr>
                        <th>상품명</th>
                        <th>주문개수</th>
                        <th>총가격</th>
                        <th>시/도</th>
                        <th>시군구/ <br/> 읍면동</th>
                        <th>우편번호</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:if="${orders.size() == 0}">
                    <tr>
                        <td colspan="14">주문 및 배송 정보가 비어있습니다.</td>
                    </tr>
                </th:block>
                <th:block th:unless="${orders.size() == 0}">
                    <th:block  th:each="order, orderStat : ${orders}">
                        <tr>
                            <td th:text="${orderStat.index + 1}" style="width: 5%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${order.orderStatStr}" style="width: 5%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${#strings.substring(order.orderDate, 0, 10)}" style="width: 10%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${order.orderDetails.get(0).productName}" style="width: 10%"></td>
                            <td th:text="|${order.orderDetails.get(0).orderCnt} 개|" style="width: 5%"></td>
                            <td th:text="|${#numbers.formatInteger(order.orderDetails.get(0).orderPrice, 0, 'COMMA')} 원|" style="width: 10%"></td>
                            <th:block th:if="${order.useCoupon}">
                                <td th:rowspan="${order.orderDetails.size()}" style="width: 5%">
                                    <span>사용</span>
                                    <br />
                                    <span th:text="|${#numbers.formatInteger(order.couponRate, 0, 'COMMA')} 원|"></span>
                                </td>
                            </th:block>
                            <th:block th:unless="${order.useCoupon}">
                                <td th:rowspan="${order.orderDetails.size()}" style="width: 5%">미사용</td>
                            </th:block>
                            <td style="width: 10%" th:rowspan="${order.orderDetails.size()}">
                                <b th:text="|${#numbers.formatInteger(totalPrice.get(orderStat.index), 0, 'COMMA')} 원|"></b>
                            </td>
                            <td style="width: 1%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${order.deliverStatStr}" style="width: 5%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${order.address.city}" style="width: 5%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${order.address.street}" style="width: 5%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td th:text="${order.address.zipcode}" style="width: 5%" th:rowspan="${order.orderDetails.size()}"></td>
                            <td style="width: 5%" th:rowspan="${order.orderDetails.size()}">
                                <button type="button" class="btn btn-outline-primary chg-address" th:data-deliver="${order.deliverId}" th:data-order="${order.orderId}" th:data-city="${order.address.city}" th:data-status="${order.deliverStatus}"
                                        th:data-street="${order.address.street}" th:data-zipcode="${order.address.zipcode}" th:text="${(order.deliverStatus.equals('DELIVERED')) ? '리뷰작성' : '변경'}"></button>
                            </td>
                        </tr>
                        <th:block th:if="${order.orderDetails.size() > 1}">
                            <th:block th:each="detail, detailStat : ${order.orderDetails}">
                                <th:block th:unless="${detailStat.first}">
                                    <tr>
                                        <td th:text="${detail.productName}" style="width: 10%"></td>
                                        <td th:text="|${detail.orderCnt} 개|" style="width: 5%"></td>
                                        <td th:text="|${#numbers.formatInteger(detail.orderPrice, 0, 'COMMA')} 원|" style="width: 10%"></td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>

        <!-- s: change Address Modal -->
        <form id="change-address-form" class="needs-validation" novalidate>
            <input type="hidden" id="deliverId" />
            <div class="modal fade" id="change-address-modal" tabindex="-1" aria-labelledby="changeAddressModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">주소지 변경하기</h4>
                            <button type="button" class="btn-close" id="close-change-address-modal-btn"></button>
                        </div>

                        <div class="modal-body">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="city">city<span class="text-primary ms-50">*</span></label>
                                            <div class="input_wrap">
                                                <input type="text" class="form-control" id="city" name="city" required/>
                                                <div class="invalid-feedback">city를 입력해주세요.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="street">street<span class="text-primary ms-50">*</span></label>
                                            <div class="input_wrap">
                                                <input type="text" class="form-control" id="street" name="street" required/>
                                                <div class="invalid-feedback">street를 입력해주세요.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="zipcode">zipcode<span class="text-primary ms-50">*</span></label>
                                            <div class="input_wrap">
                                                <input type="text" class="form-control" id="zipcode" name="zipcode" required/>
                                                <div class="invalid-feedback">zipcode를 입력해주세요.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 10px" class="text-end">
                                    <button type="button" class="btn btn-outline-secondary" id="close-addressChangeModal">닫기</button>
                                    <button type="submit" class="btn btn-outline-primary" id="save-address">수정</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- e: change Purchase Modal -->

        <!-- s: review write Modal -->
        <form id="review-write-form" class="needs-validation" novalidate>
            <div class="modal modal-lg fade" id="review-write-modal" tabindex="-1" aria-labelledby="reviewWriteModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">리뷰작성하기</h4>
                            <button type="button" class="btn-close" id="close-review-write-modal-btn"></button>
                        </div>

                        <div class="modal-body">
                            <div class="card-body">

                                <div class="mb-3 mt-3">
                                    <label style="margin-right: 10px;">상품선택</label>
                                    <div id="choose-product-radio-div"></div>
                                </div>

                                <hr class="hr" />

                                <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                                    <label>리뷰별점</label>
                                    <div class="rate">
                                        <input type="radio" id="reviewStar5" name="reviewStar" value="5" />
                                        <label for="reviewStar5" title="text">5 stars</label>
                                        <input type="radio" id="reviewStar4" name="reviewStar" value="4" />
                                        <label for="reviewStar4" title="text">4 stars</label>
                                        <input type="radio" id="reviewStar3" name="reviewStar" value="3" />
                                        <label for="reviewStar3" title="text">3 stars</label>
                                        <input type="radio" id="reviewStar2" name="reviewStar" value="2" />
                                        <label for="reviewStar2" title="text">2 stars</label>
                                        <input type="radio" id="reviewStar1" name="reviewStar" value="1" checked/>
                                        <label for="reviewStar1" title="text">1 star</label>
                                    </div>
                                </div>

                                <hr class="hr" />

                                <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                                    <label for="reviewContent">내용</label>
                                    <textarea class="form-control" id="reviewContent" name="reviewContent" style="height: 200px;" required></textarea>
                                    <div class="invalid-feedback">리뷰 내용을 입력해주세요.</div>
                                </div>

                                <hr class="hr" />

                                <div class="mb-3 mt-3">
                                    <label for="file-container">파일첨부</label>
                                    <input type="file" id="fileUpload" name="file" style="display:none"/>
                                    <button class="btn btn-sm btn-primary" id="btn-upload">
                                        파일 추가
                                        <i data-feather="upload" class="font-medium-2 ms-50"></i>
                                    </button>
                                    <div class="file-container" id="file-container">
                                        <ul id="upload-container"></ul>
                                    </div>
                                </div>

                                <div style="margin-top: 10px" class="text-end">
                                    <button type="button" class="btn btn-outline-secondary" id="close-reviewWriteModal">닫기</button>
                                    <button type="submit" class="btn btn-outline-primary" id="save-review">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- s: review write Modal -->

    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        const orderAndDeliver = /*[[${orders}]]*/ [];
        const id = /*[[${id}]]*/ null;
        const totalPrice = /*[[${totalPrice}]]*/[];
        const uploadFile = new File("upload-container")
    </script>
    <script th:src="@{'/assets/js/page/user/order.js'}"></script>
</th:block>

</html>