<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
  <title>HONG SHOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- 리뷰 별점 view css -->
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="card-header" style="margin-bottom: 10px">
            <div class="card-text d-flex justify-content-between">
                <div class="text-start">
                    <h3>리뷰리스트</h3>
                </div>
                <div class="text-end"></div>
            </div>
        </div>
        <div class="card-body">

            <!-- s: empty card -->
            <div class="card" id="empty-div" th:if="${reviews.size() == 0}" style="margin-top: 40px">
                <div class="card-body" style="text-align: center">
                    <h4>리뷰가 비어있습니다.</h4>
                </div>
            </div>
            <!-- e: empty card -->

            <!-- s: card list -->
            <div class="card-list" th:unless="${reviews.size() == 0}" style="margin-top: 40px">
                <div class="card" th:each="review, reviewStat : ${reviews}">
                    <div class="card-header">
                        <img th:src="${(review.getHongOrderDetailVO().getFile() != null and review.getHongOrderDetailVO().getFile().getFileList().size() >= 1) ? '/image?imageId=' + review.getHongOrderDetailVO().getFile().getFileList().get(0).getSavedFileName() : '/assets/src/shop/noImage.png'}" alt="Card Image 1">
                        <div class="header-content">
                            <h3 th:text="${review.getHongOrderDetailVO().getProductName()}"></h3>
                            <p th:text="|주문가격: ${#numbers.formatInteger(review.getHongOrderDetailVO().getOrderPrice(), 0, 'COMMA')} 원|"></p>
                            <p th:text="|주문Id: ${review.getHongOrderDetailVO().getOrderId()}|" style="color: red"></p>
                        </div>
                    </div>

                    <div class="image-container">
                        <th:block th:if="${review.getFile() != null and review.getFile().getFileList().size() >= 1}">
                            <th:block th:each="fileLst, fileLstStat : ${review.getFile().getFileList()}">
                                <img th:src="${'/image?imageId=' + fileLst.getSavedFileName()}" />
                            </th:block>
                        </th:block>
                        <th:block th:unless="${review.getFile() != null and review.getFile().getFileList().size() >= 1}">
                            <img src="/assets/src/shop/noImage.png" alt="Card Image 1">
                        </th:block>
                    </div>

                    <div class="card-content">
                        <div style="margin-bottom: 10px;">
                            <h3>별점</h3>
                            <th:block th:each="m : ${#numbers.sequence(1,5)}">
                                <span th:class="${m <= review.getReviewStar()} ? 'fa fa-star checked' : 'fa fa-star'"></span>
                            </th:block>
                        </div>

                        <div class="card-text d-flex justify-content-between">
                            <div class="text-start">
                                <h3>리뷰내용</h3>
                            </div>
                            <div class="text-end">
                                <a href="#" th:onclick="'editReview(\'' + ${review.getReviewId()} + '\')'">
                                    <i data-feather="edit" class="front-medium-2"></i>
                                </a>
                                <a href="#" th:onclick="'trashReview(\'' + ${review.getReviewId()} + '\')'">
                                    <i data-feather="trash" class="front-medium-2"></i>
                                </a>
                            </div>
                        </div>
                        <textarea class="form-control" id="reviewContent" name="reviewContent" th:utext="${review.getReviewContet()}" readonly></textarea>

                    </div>
                </div>
            </div>
            <!-- e: card list -->
        </div>

        <!-- s: review update Modal -->
        <form id="review-update-form" class="needs-validation" novalidate>
            <div class="modal modal-lg fade" id="review-update-modal" tabindex="-1" aria-labelledby="reviewUpdateModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">리뷰 수정하기</h4>
                            <button type="button" class="btn-close" id="close-review-update-modal-btn"></button>
                        </div>

                        <div class="modal-body">
                            <div class="card-body">

                                <div class="mb-3 mt-3">
                                    <label style="margin-right: 10px;">상품이름</label>
                                    <h5 id="productName" style="font-weight: bold"></h5>
                                </div>

                                <hr class="hr" />

                                <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                                    <label>리뷰별점</label>
                                    <div class="rate" id="review-rate-div"></div>
                                </div>

                                <hr class="hr" />

                                <div class="mb-3 mt-3" style="margin-bottom: 10px;">
                                    <label for="reviewContent">내용</label>
                                    <textarea class="form-control" id="update-reviewContent" name="reviewContent" style="height: 200px;" required></textarea>
                                    <div class="invalid-feedback">리뷰 내용을 입력해주세요.</div>
                                </div>

                                <hr class="hr" />

                                <div class="mb-3 mt-3">
                                    <label for="file-container">파일첨부</label>
                                    <input type="file" id="fileUpload" name="file" style="display:none"/>
                                    <button class="btn btn-sm btn-primary" id="btn-upload">
                                        파일 추가
                                        <i data-feather="upload" class="font-medium-2 ms-50"></i>
                                    </button>
                                    <div class="file-container" id="file-container">
                                        <ul id="upload-container"></ul>
                                    </div>
                                </div>

                                <div style="margin-top: 10px" class="text-end">
                                    <button type="button" class="btn btn-outline-secondary" id="close-reviewUpdateModal">닫기</button>
                                    <button type="submit" class="btn btn-outline-primary" id="update-review">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- s: review update Modal -->
    </div>
</th:block>


<th:block layout:fragment="script">
  <script th:inline="javascript">
    const reviews = /*[[${reviews}]]*/ [];
    const uploadFile = new File("upload-container")
    let reviewId = null
  </script>
    <script th:src="@{'/assets/js/page/user/review.js'}"></script>
</th:block>

</html>