<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <div class="bg-dark">
        hong shop
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="dropdown">
                <button class="btn" type="button" id="mainPageBtn" onclick="location.href='/'">
                    <img src="/assets/src/home.png" alt="Button Image" style="width:40px;" class="rounded-pill">
                </button>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        상품 구경하기
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option 2</a></li>
                        <li><a class="dropdown-item" href="#">Option 3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/bbs/1">QNA</a></li>
                        <li><a class="dropdown-item" href="/bbs/34">FAQ</a></li>
                        <li><a class="dropdown-item" href="/bbs/33">NOTICE</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown3
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option 2</a></li>
                        <li><a class="dropdown-item" href="#">Option 3</a></li>
                    </ul>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/assets/src/img.png" alt="Button Image" style="width:40px;" class="rounded-pill">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" onclick="logout()">로그아웃</a></li>
                    <li><a class="dropdown-item" href="/user/myInfo">나의 정보</a></li>
                    <li><a class="dropdown-item" th:href="@{/cart/{id}(id=${#authentication.principal.user.id})}">장바구니</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script>

        const logout = () => {
            sessionStorage.clear();
            location.href='/logout';
        }

    </script>

</th:block>
</html>