<html lang="ko"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <div class="bg-dark">
        hong shop
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="dropdown">
                <button class="btn" type="button" id="mainPageBtn" onclick="location.href='/'">
                    <img src="/assets/src/home.png" alt="Button Image" style="width:40px;" class="rounded-pill">
                </button>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        상품 구경하기
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown" id="product-dropdown"></ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/bbs/1">QNA</a></li>
                        <li><a class="dropdown-item" href="/bbs/34">FAQ</a></li>
                        <li><a class="dropdown-item" href="/bbs/33">NOTICE</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown3
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option 2</a></li>
                        <li><a class="dropdown-item" href="#">Option 3</a></li>
                    </ul>
                </li>
                <th:block sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPER')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            정보관리
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <li><a class="dropdown-item" href="/manager/category">카테고리 및 상품 관리</a></li>
                            <li><a class="dropdown-item" href="/manager/order">주문 관리</a></li>
                            <li><a class="dropdown-item" href="/manager/user">사용자 관리</a></li>
                        </ul>
                    </li>
                </th:block>
            </ul>
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/assets/src/img.png" alt="Button Image" style="width:40px;" class="rounded-pill">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" onclick="logout()">로그아웃</a></li>
                    <li><a class="dropdown-item" href="/user/myInfo">나의 정보</a></li>
                    <li><a class="dropdown-item" th:href="@{/cart/{id}(id=${#authentication.principal.user.id})}">장바구니</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script>

        const logout = () => {
            sessionStorage.clear();
            location.href='/logout';
        }

        /* 상품 구경하기 헤더 구성하기 */
        const drawCategoryDom = () => {
            $.ajax({
                type: 'GET',
                url: `/api/category`,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if(data.httpStatus === 200) {
                        const category = data.message
                        let body = ''
                        const dom = document.getElementById("product-dropdown");
                        dom.innerHTML = ''

                        category.forEach((data, i) => {
                            body += `<li><a class="dropdown-item" href="/category/${data['categoryId']}">${data['categoryName']}</a></li>`
                        })

                        dom.innerHTML = body
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error getting password:', error);
                }
            });
        }


        window.onload = function() {
            drawCategoryDom();
        };

    </script>

</th:block>
</html>