<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/error}">

<th:block layout:fragment="head">
    <title>HONG SHOP</title>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-3">
        <div class="text-center">
            <img src="/assets/src/error/500.png">
        </div>
        <div class="text-center">
            <h3><b>500에러</b></h3>
            <span>내부적인 오류입니다.</span>
        </div>
        <div class="text-center">
            <span>죄송합니다. 관리자에게 문의바랍니다.</span>
        </div>
        <div class="text-center" style="margin-top: 10px">
            <button type="button" class="btn btn-sm btn-danger" onclick="location.href='/'">홈으로 돌아가기</button>
        </div>
    </div>
</th:block>


<th:block layout:fragment="script">
</th:block>

</html>