<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>
<div class="container mt-3 d-flex justify-content-center align-items-center" style="min-height: 100vh;">

    <div class="card col-md-6">

        <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="searchUserId-tab" data-bs-toggle="tab"
                            data-bs-target="#searchUserId" type="button" role="tab" aria-controls="searchUserId"
                            aria-selected="true">아이디 찾기</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="searchPassword-tab" data-bs-toggle="tab"
                            data-bs-target="#searchPassword" type="button" role="tab"
                            aria-controls="searchPassword" aria-selected="false">비밀번호 찾기</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <!-- 내용 -->
            <div class="tab-content" id="tab-content">

                <!-- s: search-userId-tab -->
                <div class="tab-pane fade show active" id="searchUserId" role="tabpanel" aria-labelledby="searchUserId-tab">
                    <!-- start : initialPassword Form  -->
                    <form id="searchId-form" class="needs-validation" novalidate>
                        <div class="mb-3 mt-3">
                            <span style="color: red; font-size: 12px;">* 아이디를 이메일로 전송해드립니다.</span>
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="searchUserIdUserEmail">이메일</label>
                            <input type="email" class="form-control" id="searchUserIdUserEmail" name="userEmail" required />
                            <div class="invalid-feedback">이메일을 입력하세요.</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="searchUserIdUserName">이름</label>
                            <input type="text" class="form-control" id="searchUserIdUserName" name="userName"  required/>
                            <div class="invalid-feedback">이름을 입력하세요.</div>
                        </div>

                        <button type="submit" class="btn btn-primary" id="searchUserId-sendEmail">아이디 전송</button>
                        <button type="button" class="btn btn-secondary go-back">로그인화면으로 이동</button>
                    </form>
                    <!-- end : initialPassword Form  -->
                </div>
                <!-- e: search-userId-tab -->

                <!-- s: search-password-tab -->
                <div class="tab-pane fade" id="searchPassword" role="tabpanel" aria-labelledby="searchPassword-tab">
                    <!-- start : initialPassword Form  -->
                    <form id="initialPassword-form" class="needs-validation" novalidate>
                        <div class="mb-3 mt-3">
                            <span style="color: red; font-size: 12px;">* 초기화된 비밀번호를 이메일로 전송해드립니다.</span>
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="initialPasswordUserEmail">이메일</label>
                            <input type="email" class="form-control" id="initialPasswordUserEmail" name="userEmail" required />
                            <div class="invalid-feedback">이메일을 입력하세요.</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="initialPasswordUserName">이름</label>
                            <input type="text" class="form-control" id="initialPasswordUserName" name="userName"  required/>
                            <div class="invalid-feedback">이름을 입력하세요.</div>
                        </div>

                        <button type="submit" class="btn btn-primary" id="initialPassword-sendEmail">초기화된 비밀번호 전송하기</button>
                        <button type="button" class="btn btn-secondary go-back">로그인화면으로 이동</button>
                    </form>
                    <!-- end : initialPassword Form  -->
                </div>
                <!-- e: search-password-tab -->

            </div>
        </div>
  </div>

</div>
<th:block th:replace="fragments/script :: script"></th:block>
<script>

    $(".go-back").on("click", function(e){
        window.location.href = '/login'
    });

    window.addEventListener("load", function(event) {
        event.preventDefault();
        const form = document.getElementById("initialPassword-form");

        form.addEventListener("submit", function(event) {
            if(form.checkValidity() === false) {
                  event.preventDefault();
                  form.classList.add("was-validated")
            }else{
                event.preventDefault();

                FormDataToObj.getParameter("initialPassword-form").then(obj => {
                    const userName = $("#initialPasswordUserName").val()
                    const userEmail = $("#initialPasswordUserEmail").val()

                    $.ajax({
                        type: 'GET',
                        url: `/front/api/initialPassword?userName=${userName}&userEmail=${userEmail}`,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            alert(data.message)
                            if(data.httpStatus === 200) window.location.href = '/login'
                        },
                        error: function (xhr, status, error) {
                            console.error('Error getting password:', error);
                        }
                    });
                });

            }
        });
    });

    window.addEventListener("load", function(event) {
        event.preventDefault();
        const form = document.getElementById("searchId-form");

        form.addEventListener("submit", function(event) {
            if(form.checkValidity() === false) {
                event.preventDefault();
                form.classList.add("was-validated")
            }else{
                event.preventDefault();

                FormDataToObj.getParameter("searchId-form").then(obj => {
                    const userName = $("#searchUserIdUserName").val()
                    const userEmail = $("#searchUserIdUserEmail").val()

                    $.ajax({
                        type: 'GET',
                        url: `/front/api/findUserId?userName=${userName}&userEmail=${userEmail}`,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            alert(data.message)
                            if(data.httpStatus === 200) window.location.href = '/login'
                        },
                        error: function (xhr, status, error) {
                            console.error('Error getting password:', error);
                        }
                    });
                });

            }
        });
    });

</script>
</body>
</html>