<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>
    <div class="container mt-3 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card col-md-6">

            <!-- start : Login Form  -->
            <form id="form" action="/loginProc" method="post">

                <div class="card-header">
                    <h4 class="card-title">로그인</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3 mt-3">
                        <label for="userId">아이디</label>
                        <input type="text" class="form-control" id="userId" name="userId" value="test" />
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="password">비밀번호</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" value="1234" />
                            <button class="btn btn-outline-dark" type="button" id="show-pwd">show</button>
                        </div>
                        <p class="error-message" style="color: red" id="pwdError"></p>
                    </div>

                    <div class="form-check mb-3">
                        <div class="card-text d-flex justify-content-between">
                            <div class="text-start">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember"> Remember me
                                </label>
                            </div>
                            <div class="text-end">
                                <a id="find-user-password-userId" href="#">아이디/비번 찾기</a>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">로그인</button>
                    <button type="button" class="btn btn-secondary" id="goto-new-login">회원가입</button>

                    <hr class="hr" />

                    <div class="card-text" style="margin-top: 10px">
                        <div class="text-start">
                            <span><b>소셜 로그인</b></span>
                            <div class="mb-3 mt-3">
                                <img src="/assets/src/login/kakao.png" id="kakao-login-btn" style="cursor: pointer; ">
                                <img src="/assets/src/login/naver.png" id="naver-login-btn" style="cursor: pointer; ">
                                <img src="/assets/src/login/google.png" id="google-login-btn" style="cursor: pointer; ">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <!-- end : Login Form  -->

            <!-- Start : change pwd form -->
            <form id="change-pwd-form" class="needs-validation" novalidate>
                <div class="modal" id="changePwdModal" tabindex="-1" aria-labelledby="reviewUpdateModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">비밀번호 변경하기</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="mb-3 mt-3">
                                    <p class="error-message" style="color: red">* 비밀번호가 만료되었습니다.</p>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="loginUserId">아이디</label>
                                    <input type="text" class="form-control" id="loginUserId" name="userId" readonly/>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="changePwd">비밀번호</label>
                                    <input type="password" class="form-control" id="changePwd" name="password" required />
                                    <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="changePwdChk">비밀번호 확인</label>
                                    <input type="password" class="form-control" id="changePwdChk" required />
                                    <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" id="more-days">90일더 연장하기</button>
                                <button type="button" class="btn btn-primary" id="change-pwd">비밀번호 변경하기</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <!-- End : change pwd form -->

        </div>
    </div>
    <th:block th:replace="fragments/script :: script"></th:block>
    <script>
        const changePwd = $("#changePwd")
        const changePwdChk = $("#changePwdChk")

        $(document).ready(function(){

            const params = new URLSearchParams(location.search);
            if (params.has("error")) {

                const errorMessage = decodeURIComponent(params.get("error"));
                $("#pwdError").html(errorMessage.replace("\n", "<br>"));
                history.replaceState({}, null, '/login');

            } else if(params.has("enable")) {

                const userId = decodeURIComponent(params.get("userId"));
                const errorMessage = decodeURIComponent(params.get("enable"));
                $("#pwdError").html(errorMessage.replace("\n", "<br>"));
                history.replaceState({}, null, '/login');

                Http.get(`/front/api/user-enable/${userId}`).then((res) => {
                    const data = res.message
                    Util.alert(`사유: ${data['enableMsg']}`, 'w')
                })

            } else if(params.has("expired")) {

                const userId = decodeURIComponent(params.get("userId"));
                const errorMessage = decodeURIComponent(params.get("expired"));
                $("#pwdError").html(errorMessage.replace("\n", "<br>"));
                history.replaceState({}, null, '/login');

                Util.alert("비밀번호 변경이로부터 90일이 지나 비밀번호가 만료되었습니다. \n 비밀번호를 변경해주세요.", 'w').then(() => {
                    $("#loginUserId").val(userId)
                    $("#changePwdModal").modal('show')
                })
            }

            const idItemKey = 'HONG_SHOP_ID'

            /* 로그인 아이디 기억하기 -> localStorage에서 id가져오기 */
            document.getElementById('form').addEventListener('submit', () => {
                $('#remember').is(":checked") && localStorage.setItem(idItemKey, $('#userId').val())
                return true
            })

            /* 로그인 아이디 기억하기 */
            const rememberId = localStorage.getItem(idItemKey);
            if (rememberId) {
                const checkbox = $("#remember");
                checkbox.prop("checked", !checkbox.prop("checked"));
                $('#userId').val(rememberId)
            }

            /* 회원가입 */
            $("#goto-new-login").on('click', function(e) {
                window.location.href = '/front/newLogin'
            })

            /* 카카오 로그인 */
            $("#kakao-login-btn").on("click", function(e){
                window.location.href = '/oauth2/authorization/kakao'
            })

            /* 네이버 로그인 */
            $("#naver-login-btn").on("click", function(e){
                window.location.href = '/oauth2/authorization/naver'
            })

            /* 구글 로그인 */
            $("#google-login-btn").on("click", function(e){
                window.location.href = '/oauth2/authorization/google'
            })

            /* 아이디/비번 찾기 */
            $("#find-user-password-userId").on("click", function(e){
                window.location.href = '/front/initialPassword'
            })

            /* 로그인 -> 비번 보이기/숨기기 */
            $("#show-pwd").click(() => {
                const passwordInput = $('#password');
                const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
                const text = passwordInput.attr('type') === 'password' ? 'hide' : 'show';
                passwordInput.attr('type', type);
                $("#show-pwd").text(text)
            })

            /* [비밀번호 만료] 90일더 연장하기 */
            $("#more-days").on('click', function(e) {
                const userId = $("#loginUserId").val()
                Http.put('/front/api/changePwdEndDate', {'userId': userId}).then(() => {
                    Util.alert("비밀번호 만료일을 90일 연장하였습니다.").then(() => window.location.href = '/login')
                })
            })

            /* [비밀번호 만료] 비밀번호 변경하기 */
            $("#change-pwd").on('click', function(e) {
                const userId = $("#loginUserId").val()
                const password = $("#changePwd").val()

                const form = document.getElementById("change-pwd-form");
                if (form.checkValidity() === false) form.classList.add("was-validated");
                else {
                    Http.put('/front/api/changePwdEndDate', {'userId': userId, 'password': password}).then(() => {
                        Util.alert("비밀번호가 변경되었습니다.").then(() => window.location.href = '/login')
                    })
                }
            })

            changePwd.on('input', chckValidate)
            changePwdChk.on('input', chckValidate)
        })

        /* [비밀번호 만료] -> 비번,비번확인 일치 validation */
        function chckValidate(){
            const changePwdVal = changePwd.val()
            const changePwdChkVal = changePwdChk.val()

            if(changePwdVal && changePwdChkVal) {
                if(changePwdVal === changePwdChkVal) changePwdChk.removeClass('is-invalid')
                else changePwdChk.addClass('is-invalid')
            }
        }

    </script>
</body>
</html>