<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>
    <div class="container mt-3 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card col-md-6">

            <!-- start : Login Form  -->
            <form id="form" action="/loginProc" method="post">

                <div class="card-header">
                    <h4 class="card-title">로그인</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3 mt-3">
                        <label for="userId">아이디</label>
                        <input type="text" class="form-control" id="userId" name="userId" value="test" />
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="password">비밀번호</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" value="1234" />
                            <button class="btn btn-outline-dark" type="button" id="show-pwd">show</button>
                        </div>
                        <p class="error-message" style="color: red" id="pwdError"></p>
                    </div>

                    <div class="form-check mb-3">
                        <div class="card-text d-flex justify-content-between">
                            <div class="text-start">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember"> Remember me
                                </label>
                            </div>
                            <div class="text-end">
                                <a id="find-user-password-userId" href="#">아이디/비번 찾기</a>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">로그인</button>
                    <button type="button" class="btn btn-secondary" id="goto-new-login">회원가입</button>

                    <hr class="hr" />

                    <div class="card-text" style="margin-top: 10px">
                        <div class="text-start">
                            <span><b>소셜 로그인</b></span>
                            <div class="mb-3 mt-3">
                                <img src="/assets/src/login/kakao.png" id="kakao-login-btn" style="cursor: pointer; ">
                                <img src="/assets/src/login/naver.png" id="naver-login-btn" style="cursor: pointer; ">
                                <img src="/assets/src/login/google.png" id="google-login-btn" style="cursor: pointer; ">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <!-- end : Login Form  -->

            <!-- Start : change pwd form -->
            <form id="change-pwd-form" class="needs-validation" novalidate>
                <div class="modal" id="changePwdModal" tabindex="-1" aria-labelledby="changePwdModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">비밀번호 변경하기</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="mb-3 mt-3">
                                    <p class="error-message" style="color: red">* 비밀번호가 만료되었습니다.</p>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="changePwdModal-loginUserId">아이디</label>
                                    <input type="text" class="form-control" id="changePwdModal-loginUserId" name="userId" readonly/>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="changePwd">비밀번호</label>
                                    <input type="password" class="form-control" id="changePwd" name="password" required />
                                    <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="changePwdChk">비밀번호 확인</label>
                                    <input type="password" class="form-control" id="changePwdChk" required />
                                    <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" id="more-days">90일 더 연장하기</button>
                                <button type="button" class="btn btn-primary" id="change-pwd">비밀번호 변경하기</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <!-- End : change pwd form -->

            <!-- Start : validate email form -->
            <form id="validate-email-form" class="needs-validation" novalidate>
                <div class="modal" id="validateEmailModal" tabindex="-1" aria-labelledby="validateEmailModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">이메일 인증하기</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="mb-3 mt-3">
                                    <p class="error-message" style="color: red">* 최근 로그인일로부터 1년이 지나 휴먼 계정이 되었습니다. </p>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="validateEmailModal-loginUserId">아이디</label>
                                    <input type="text" class="form-control" id="validateEmailModal-loginUserId" name="userId" readonly/>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="chkEmail">이메일</label>
                                    <input type="text" class="form-control" id="chkEmail" name="userEmail" required />
                                    <div class="invalid-feedback">이메일을 입력하세요.</div>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="validate-num">인증번호</label>
                                    <input type="text" class="form-control" id="validate-num" name="userEmail" />
                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="email-validate">인증번호 발송</button>
                                <button type="button" class="btn btn-outline-secondary" id="email-validate-chk" disabled>인증하기</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <!-- End : change pwd form -->

        </div>
    </div>
    <th:block th:replace="fragments/script :: script"></th:block>
    <script> </script>
    <script th:src="@{'/assets/js/page/login.js'}"></script>
</body>
</html>