<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>
    <div class="container mt-3 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card col-md-6">

            <!-- start : Login Form  -->
            <form id="form" action="/loginProc" method="post">

                <div class="card-header">
                    <h4 class="card-title">로그인</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3 mt-3">
                        <label for="userId">아이디</label>
                        <input type="text" class="form-control" id="userId" name="userId" value="test" />
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="password">비밀번호</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" value="1234"/>
                            <button class="btn btn-outline-dark" type="button" id="show-pwd">show</button>
                        </div>
                    </div>

                    <div class="form-check mb-3">
                        <div class="card-text d-flex justify-content-between">
                            <div class="text-start">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember"> Remember me
                                </label>
                            </div>
                            <div class="text-end">
                                <a id="find-user-password" href="#">아이디/비번 찾기</a>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">로그인</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">회원가입</button>
                </div>
            </form>
            <!-- end : Login Form  -->
        </div>

        <!-- Start : new login form -->
        <form id="new-login-form" class="needs-validation" novalidate>
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">회원가입</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="mb-3 mt-3">
                                <label for="newUserId">아이디</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="newUserId" name="userId" required/>
                                    <button class="btn btn-outline-dark" type="button" id="check-Id">중복확인</button>
                                    <div class="invalid-feedback">아이디를 입력하세요.</div>
                                </div>
                                <p class="error-message" id="IdChkMessage"></p>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="newPassword">비밀번호</label>
                                <input type="password" class="form-control" id="newPassword" name="password" required />
                                <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="newPassword">비밀번호 확인</label>
                                <input type="password" class="form-control" id="newPasswordChk" required />
                                <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="userName">이름</label>
                                <input type="text" class="form-control" id="userName" name="userName" required />
                                <div class="invalid-feedback">이름을 입력하세요.</div>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="userEmail">이메일</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="userEmail" name="userEmail" required/>
                                    <button class="btn btn-outline-dark" type="button" id="check-Email">중복확인</button>
                                    <div class="invalid-feedback">이메일을 입력하세요.</div>
                                </div>
                                <p class="error-message" id="EmailChkMessage"></p>
                            </div>

                            <div class="mb-3 mt-3">
                                <label>유저 권한</label>
                                <div class="input-group">
                                    <div class="form-check" style="margin-right: 20px;">
                                        <input type="radio" class="form-check-input" id="ROLE_ADMIN" name="role" value="ROLE_ADMIN" checked>
                                        <label class="form-check-label" for="ROLE_ADMIN">admin</label>
                                    </div>
                                    <div class="form-check" style="margin-right: 20px;">
                                        <input type="radio" class="form-check-input" id="ROLE_USER" name="role" value="ROLE_USER">
                                        <label class="form-check-label" for="ROLE_USER">user</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="ROLE_SUPER" name="role" value="ROLE_SUPER">
                                        <label class="form-check-label" for="ROLE_SUPER">SUPER</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label>주소</label>
                                <div class="col-sm">
                                    <input type="text" class="form-control mb-1" name="city" placeholder="city" required>
                                    <div class="invalid-feedback">지역을 입력하세요.</div>
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control mb-1" name="street" placeholder="street" required>
                                    <div class="invalid-feedback">거리를 입력하세요.</div>
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control mb-1" name="zipcode" placeholder="zipcode" required>
                                    <div class="invalid-feedback">우편번호를 입력하세요.</div>
                                </div>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="new-login">회원가입</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- End : new login form -->

    </div>
    <th:block th:replace="fragments/script :: script"></th:block>
    <script>

        let IdChk = false;
        let EmailChk = false;

        const newPassword = $("#newPassword")
        const newPasswordChk = $("#newPasswordChk")

        $(document).ready(function(){

            const idItemKey = 'HONG_SHOP_ID'

            document.getElementById('form').addEventListener('submit', () => {
                $('#remember').is(":checked") && localStorage.setItem(idItemKey, $('#userId').val())
                return true
            })

            const rememberId = localStorage.getItem(idItemKey);
            if (rememberId) {
                const checkbox = $("#remember");
                checkbox.prop("checked", !checkbox.prop("checked"));
                $('#userId').val(rememberId)
            }

            newPassword.on('input', chckValidate)
            newPasswordChk.on('input', chckValidate)
        })

        function chckValidate(){
            const passwordVal = newPassword.val()
            const passwordChkVal = newPasswordChk.val()

            if(passwordVal && passwordChkVal) {
                if(passwordVal === passwordChkVal) newPasswordChk.removeClass('is-invalid')
                else newPasswordChk.addClass('is-invalid')
            }
        }

        $("#find-user-password").on("click", function(e){
            console.log("find-user-password clicked")
            window.location.href = '/front/initialPassword'
        })

        $("#check-Email").click(() => {
            const newUserEmail = $("#userEmail").val()
            console.log("check-Email clicked... : ", newUserEmail)

            if(!newUserEmail.length) alert("이메일은 빈값일 수 없습니다.")
            else {
                $.ajax({
                    type: 'GET',
                    url: `/front/api/checkEmail?userEmail=${newUserEmail}`,
                    dataType: 'json',
                    success: function (data) {
                        if (!data.message) $("#EmailChkMessage").css('color', 'red').html("중복되는 이메일입니다.")
                        else {
                            $("#EmailChkMessage").css('color', 'green').html("사용 가능한 이메일입니다.")
                            $("#userEmail").prop('disabled', true)
                            $("#check-Email").prop('disabled', true)
                            EmailChk = true
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error getting password:', error);
                    }
                });
            }
        })

        $("#show-pwd").click(() => {
            const passwordInput = $('#password');
            const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
            const text = passwordInput.attr('type') === 'password' ? 'hide' : 'show';
            passwordInput.attr('type', type);
            $("#show-pwd").text(text)
        })

        $("#check-Id").click(() => {
            const newUserId = $("#newUserId").val();

            if(!newUserId.length) alert("아이디는 빈값일 수 없습니다.")
            else {
                $.ajax({
                    type: 'GET',
                    url: `/front/api/checkId?userId=${newUserId}`,
                    dataType: 'json',
                    success: function (data) {
                        if (!data.message) $("#IdChkMessage").css('color', 'red').html("중복되는 아이디입니다.")
                        else {
                            $("#IdChkMessage").css('color', 'green').html("사용 가능한 아이디입니다.")
                            $("#newUserId").prop('disabled', true)
                            $("#check-Id").prop('disabled', true)
                            IdChk = true
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error getting password:', error);
                    }
                });
            }
        })

        window.addEventListener("load", function(event) {
            event.preventDefault(); event.stopPropagation();
            const form = document.getElementById("new-login-form");
            form.addEventListener("submit", function(e){
                if(form.checkValidity() === false){
                    e.preventDefault(); e.stopPropagation();
                    form.classList.add("was-validated")
                }else{
                    e.preventDefault(); e.stopPropagation();
                    const pwd = newPassword.val()
                    const pwdChk = newPasswordChk.val()

                    if(!IdChk || !EmailChk) alert("아이디 및 이메일 중복 여부를 확인해주세요.")
                    else if(pwd.length === 0 || pwd !== pwdChk) alert("입력하신 비밀번호가 다릅니다.")
                    else {
                        FormDataToObj.getParameter("new-login-form").then(obj => {
                            obj['userId'] = $("#newUserId").val()
                            obj['userEmail'] = $("#userEmail").val()

                            $.ajax({
                                type: 'POST',
                                url: `/front/api/user`,
                                dataType: 'json',
                                data: JSON.stringify(obj),
                                contentType: 'application/json',
                                success: function (data) {
                                    if(data.httpStatus === 200) {
                                        alert("회원가입을 성공했습니다.")
                                        $('#myModal').modal('hide');
                                    }else {
                                        alert("회원가입을 실패했습니다.")
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error getting password:', error);
                                }
                            });

                        })
                    }
                }
            })
        })


    </script>
</body>
</html>