<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>
<div class="container mt-3 d-flex justify-content-center align-items-center" style="min-height: 100vh;">

  <div class="card col-md-6">

    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="newLogin-tab" data-bs-toggle="tab"
                  data-bs-target="#newLogin" type="button" role="tab" aria-controls="newLogin"
                  aria-selected="true">회원가입</button>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <!-- 내용 -->
      <div class="tab-content" id="tab-content">

        <!-- s: newLogin-tab -->
        <div class="tab-pane fade show active" id="newLogin" role="tabpanel" aria-labelledby="newLogin-tab">
          <!-- start : newLogin Form  -->
          <form id="new-login-form" class="needs-validation" novalidate>

              <div class="mb-3 mt-3">
                <label for="newUserId">아이디</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="newUserId" name="userId" required/>
                  <button class="btn btn-outline-dark" type="button" id="check-Id">중복확인</button>
                  <div class="invalid-feedback">아이디를 입력하세요.</div>
                </div>
                <p class="error-message" id="IdChkMessage"></p>
              </div>

              <div class="mb-3 mt-3">
                <label for="newPassword">비밀번호</label>
                <input type="password" class="form-control" id="newPassword" name="password" required />
                <div class="invalid-feedback">비밀번호를 입력하세요.</div>
              </div>

              <div class="mb-3 mt-3">
                <label for="newPassword">비밀번호 확인</label>
                <input type="password" class="form-control" id="newPasswordChk" required />
                <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
              </div>

              <div class="mb-3 mt-3">
                <label for="userName">이름</label>
                <input type="text" class="form-control" id="userName" name="userName" required />
                <div class="invalid-feedback">이름을 입력하세요.</div>
              </div>

              <div class="mb-3 mt-3">
                <label for="userEmail">이메일</label>
                <div class="input-group">
                  <input type="email" class="form-control" id="userEmail" name="userEmail" required/>
                  <button class="btn btn-outline-dark" type="button" id="check-Email">중복확인</button>
                  <div class="invalid-feedback">이메일을 입력하세요.</div>
                </div>
                <p class="error-message" id="EmailChkMessage"></p>
              </div>

              <div class="mb-3 mt-3">
                <div class="row">
                  <label>주소</label>
                  <div class="col-sm">
                    <input type="text" class="form-control mb-1" name="city" placeholder="city" required>
                    <div class="invalid-feedback">지역을 입력하세요.</div>
                  </div>
                  <div class="col-sm">
                    <input type="text" class="form-control mb-1" name="street" placeholder="street" required>
                    <div class="invalid-feedback">거리를 입력하세요.</div>
                  </div>
                  <div class="col-sm">
                    <input type="text" class="form-control mb-1" name="zipcode" placeholder="zipcode" required>
                    <div class="invalid-feedback">우편번호를 입력하세요.</div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" id="new-login">회원가입</button>
              <button type="button" class="btn btn-outline-danger" id="goto-login">로그인화면으로 이동</button>
          </form>
          <!-- end : newLogin Form  -->
        </div>
        <!-- e: newLogin-tab -->

      </div>
    </div>
  </div>

</div>
<th:block th:replace="fragments/script :: script"></th:block>
<script> </script>
<script th:src="@{'/assets/js/page/newLogin.js'}"></script>
</body>
</html>